/* ------- Important ! Regardez bien à la fin de ce CSS pour des règles permettant de ----------- */
/* contraindre le format des slides affichés sur la page web */


/* normalisation des marges et padding pour simplifier le positionnement des éléments */
*{
    padding:0;
    margin:0;
    font-family: 'Noto Sans', sans-serif;
}

body{
    color: white;
    overflow: hidden;   /* pour slidr dans certains navigateurs */
}

#container{
    position: relative; /* pour permettre le positionnement en absolu des autres éléments */
}

/* on fait en sorte que le slidr et les slides remplissent tout notre conteneur */
#slidr, #slidr section{
    width: 100%;
    height: 100%;
}

/* pour le positionnement facile, on place tout en absolue et on exprime tout en % */
#titre{
    text-align: center;
    width: 20%;
    left: 30%;
    top: 10%;
    position: absolute;
}

#background-video{
    position: relative; /* on doit positionner un éléments pour pouvoir ajuster sont z-index */
    z-index: -1;
}

/* on centre l'image de fin */
#img-fini{
    width: 50%;
    left: 50%;
    top: 40%;
    position: absolute;
    margin-left:-25%;
    margin-top:calc(-25% * 9 / 16 ); /* les marges sont exprimées en % de la largeur... :-( */
}

/* le footer de la slide 1 est positionné en bas de la slide et son texte est centré */
section[data-slidr="page-1"] footer{
    width: 100%;
    text-align: center;
}

/* Pour que la vidéo remplisse son conteneur (elle sera un peu coupée si nécessaire...) */
.vjs-tech { object-fit: cover; }

/* dernier slide sur fond blanc */
section[data-slidr="page-2"]{
}

/* ---------- mise en forme du bandeau des logos ----------------- */
/* ici comme on doit contraindre la hauteur des images (et non leur largeur) */
/* on ne peut pas utiliser de taille en % on utilise donc des em (qui sont définis */
/* comme proportiels à la tailles des slides grace à nos règles plus bas */
/* (cf. fondt-size du body) */

#bandeau {
    padding-top: 3%;
    width:100%;
    height:17%;
    position: absolute;
    bottom: 0;
    background-color: white;
    z-index: -1;
  }

  #bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }


  #bandeau img{
    height: 2em;
  }

  #bandeau #hyblab{
    margin: 0.5em 3em;
    height: 3em;
    float: left;
  }

  #bandeau #cc, #bandeau #opensource
  {
    height: 1em;
  }

  #bandeau .stacked{
    display:block;
  }

  #bandeau ul{
    text-align: center;
    padding: 0 0;
  }

  #bandeau .institutionnel
  {
    height: 2em;
  }

/* ---------- media queries importantes pour le responsive facile :-D ----------------- */
/* Vous pouvez bien sûr l'adapter pour d'autres ratio que 16:9 */

/* Cette media query permet de s'assurer qu'on remplit toujours la largeur de la fenêtre, 
tant qu'on est en dessous de l'apect ratio 16/9 */
@media screen and (max-aspect-ratio: 16/9){
    #container{
        width: 100vw;
        height: 100%;
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes 
    les autres tailles de police. Celle-ci est proportionelle à la largeur ici. */
    body{
    }
}

/* Cette media query permet de s'assurer qu'on remplit toujours la hauteur de la fenêtre, quand on est au 
dessus de l'apect ratio 16/9 */
@media screen and (min-aspect-ratio: 16/9){
    #container{
        /*margin-left: calc((100vw - 100 * 16vh / 9) / 2);*/
        width: 100%;
        height: 100vh;
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes 
    les autres tailles de police. Celle-ci est proportionelle à la hauteur ici. */
    body{
    }
}



/*Notre CSS*/
div#displayCanvas {
    position: absolute;
}

/***général***/
:root { 
    --primary-color: #203443; 
    --secondary-color: white;
    --citation-color: #203443;
}

* {
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    color: var(--primary-color, #203443);
}

.logo {
    background: none;
    width: 200px;
    position: absolute;
    padding: 10px;
}

.logo img {
    width: 200px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 61px;
    /* identical to box height */
    color:var(--secondary-color, white);
    margin-bottom: 50px;
    max-width: 740px;
}

.bouton {
    display: inline-block;
    padding: 10px;
    background: var(--secondary-color, white);
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-left: 12px;
    padding-right: 12px;

    
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: var(--primary-color, #203443);
    transition: all 0.5s ease;
}

.bouton:hover {
    cursor: pointer;
    background-color: var(--primary-color, #203443);
    color: var(--secondary-color, white);
}

.align-center-vertical {
    display: flex;
    align-items: center;
    height: 100%;
}
                
/***Acceuil***/
.containerAcceuil {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.containerAcceuil h1 {
    text-align: center;
    margin-bottom: 30px;
}

#containerBackground {
    position:absolute;
}

div#boutonGoSlide2 {
    margin-top: 50px;
}
/***slide questions***/
#containerQuestion {
    padding: 20px;
    text-align: left;
    margin-left: 50px;
}

#containerQuestion h1 {
    text-align: left;
}


.citation {
    /* citation */
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    opacity: 0;
    color:  var(--citation-color, #203443);
    transition: all 0.5s ease;

}

div#containerReponses {
    max-width: 750px;
}

.containerReponse .bouton:hover + .citation {
    opacity: 1;
}

.containerReponse {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding-bottom: 10px;
    width: 250px;
}

/***slide fin***/
.containerFin {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    position: relative;
}

.cartePostale {
    color: black;
    background-color: rgb(124, 118, 118);
    width: 36em;
    height: 18em;
    position: absolute;
    transform: scale(0.9);
    opacity: 1;
    text-align: left;
}

.cartePostale:hover {
    z-index: 99;
    /*animation: fronte 0.5s linear forwards; */
}

@keyframes fronte {
    from { z-index: 0; opacity: 0.5; }
    to { z-index: 4; opacity: 1; }
}  


.cartePostale.un {
    transform: rotate(4deg);
    right:0;
}

.cartePostale.deux {
    transform: rotate(-10deg);
}

.cartePostale.trois {
    transform: rotate(-2deg);
    margin-top: 15em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

div#goback {
    position: absolute;
    right: 10px;
    bottom: 10px;
}


.imgCarte {
    background-color: blueviolet;
    height: 100%;
    width: 50%;
    float: left;
}

.cartePostale .texte {
    display: inline-block;
}