#relativ img{
	margin-left: auto;
	margin-right: auto;
	max-width: 15vh;
	max-height: 8vh;
}

#relativ body{
	font-family: 'Poppins', sans-serif;
}

#relativ table{
	border-radius: 1px solid yellow;
}

#relativ a{
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

#relativ #credits{
	border-radius: 30px;
 	border-spacing: 0;
 	margin-top: 8%;
 	margin-left: 6vh;
 	margin-right: 10%;
 	margin-bottom: 5%;
	text-align: center;
	width: 60%;
}

#relativ #sources{
	border-radius: 30px;
 	border-spacing: 0;
 	margin-top: -72vh;
 	margin-left: 150vh;
	text-align: left;
	width: 20%;
	position: absolute;
}

#relativ .gauche{
}

#relativ .droite{
}

#relativ .haut{
	padding-top: 4%;
}

#relativ .haut_sources{
	padding-top: 1.7vh !important;
}

#relativ .bas{
	padding-bottom: 4%;
}

#relativ .bas_sources{
	padding-bottom: 1.8vh !important;
}

#relativ .td_sources{
	padding-top: 0.7vh;
	padding-bottom: 0.8vh;
	padding-left: 6vh;
	font-size: 1.5vh;
}

#relativ td{
	padding-top: 1%;
	padding-bottom: 1%;
}

#relativ thead{
	background-color: #CFE0EC;
}

#relativ tfoot{
	background-color: #CFE0EC;
}

#relativ .tfoot_sources{
	height: 11vh;
}

#relativ th{
	padding-top: 2vh;
	padding-bottom: 2vh;
}

#relativ .th_sources{
	padding-top: 3.5vh;
	padding-bottom: 3.5vh;
	padding-left: 6vh;
	border-radius: 30px 30px 0 0;
	font-size: 2vh;
	font-weight: bold;
}

#relativ #haut_gauche{
	border-radius: 30px 0 0 0;
}

#relativ #haut_droit{
	border-radius: 0 30px 0 0;
}

#relativ #bas_droit{
	border-radius: 0 0 30px 0;
}

#relativ #bas_gauche{
	border-radius: 0 0 0 30px;
}

#relativ #bas_sources{
	border-radius: 0 0 30px 30px;
}

#relativ tbody{
	background-image: url("/mer-a/assets/img/fonds/FOND_2.png");
	color: #ABC4D5;
	font-weight: bold;
}

#relativ div#button {
	position: absolute;
	top: 80%;
}

#relativ div#content div#relativ {
	position: relative;
}

#back{
	margin-top: 0px;
}