#relativ {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 20vh;
}

#relativ img{
	margin-left: auto;
	margin-right: auto;
	max-width: 15vh;
	max-height: 8vh;
}

#relativ{
	display: flex;
	flex-direction: row;
}

/* Définition du tableau crédits*/

#relativ .credits{
	margin-left: 8vh;
	margin-top: 20vh;
	display: grid;
	border-radius: 4vh;
	background-image: url("/mer-a/assets/img/fonds/FOND_2.png");
	grid-template-areas: 
	"haut-gauche haut-mid haut-droit"
	"agr-a sc-a p-a"
	"agr-b sc-b p-b"
	"agr-c . p-c"
	". . p-d"
	". . p-e"
	". . p-f"
	"logo logo logo";
	grid-template-columns: repeat(3, 20vw); /* 3 colonnes */
  	grid-template-rows: repeat(10, auto); /* 10 lignes */
  	text-align: center;
  	align-self: center;
  	width: 60vw;
}

#relativ #logos{
	grid-area: logo;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

/* Définition du header */

#relativ .head{
	height: 8vh;	
	background-color: #CFE0EC;
}

#relativ .haut-gauche{
	border-radius: 4vh 0 0 0;
	grid-area: haut-gauche;
}

#relativ .haut-mid{
	grid-area: haut-mid;
}

#relativ .haut-droit{
	border-radius: 0 4vh 0 0;
	grid-area: haut-droit;

}

/* Définition du body */ 

#relativ .body{
	color: white;
	background-image: url("/mer-a/assets/img/fonds/FOND_2.png");
	padding-top: 2vh;
	padding-bottom: 2vh;
}

/* AGR */ 

#relativ .AGR1{
	grid-area: agr-a;
}

#relativ .AGR2{
	grid-area: agr-b;
}

#relativ .AGR3{
	grid-area: agr-c;
}

/* SC */

#relativ .SC1{
	grid-area: sc-a;
}

#relativ .SC2{
	grid-area: sc-b;
}

/* Polytech */ 

#relativ .P1{
	grid-area: p-a;
}

#relativ .P2{
	grid-area: p-b;
}

#relativ .P3{
	grid-area: p-c;
}

#relativ .P4{
	grid-area: p-d;
}

#relativ .P5{
	grid-area: p-e;
}

#relativ .P6{
	grid-area: p-f;
}

#relativ #prenom{
	background-image: url("/mer-a/assets/img/fonds/FOND_2.png");
}

/* Définition du footer */ 
#relativ .foot{
	background-color: #CFE0EC;
	height: 10vh;
	margin: 0 auto;
}

#relativ img{
	margin: 0 auto;
}

#relativ #logos{
	padding-left: 4vh;
	padding-right: 4vh;
	background-color: #CFE0EC; 
	border-radius: 0 0 4vh 4vh;
}

/* Définition du tableau de sources */

#relativ .sources{
	font-size: 1.5vh;
	margin-left: 8vh;
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
  	text-align: left;
  	width: 20vw;
  	height: 50vh;
}

#relativ div#back {
	position: absolute;
	bottom: 10vh;
	left: 50%;
	transform: translateX(-50%);
}

#relativ .head-sources{
	font-weight: bold;
	border-radius: 4vh 4vh 0 0;
	height: 8vh;	
	background-color: #CFE0EC;
	padding-left: 3vw;
	padding-top: 3vh; 
	padding-bottom: 3vh;
}	

#relativ .haut-sources{
	padding-top: 2.5vh !important;
}

#relativ .bas-sources{
	padding-bottom: 2.5vh !important;
}

#relativ .source{
	background-image: url("/mer-a/assets/img/fonds/FOND_2.png");
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	padding-left: 3vw;
	color: white;
}

#relativ .foot-source{
	background-color: #CFE0EC;
	height: 8vh;
	border-radius: 0 0 4vh 4vh;
	padding-top: 10vh;
}

a,
a:link,
a:hover,
a:active{
	color: inherit;
	text-decoration: inherit;
	font-weight: inherit;
}

@media only screen and (max-width: 768px) {

#relativ .credits {
	grid-template-columns: 5% 30% 30% 30fr 5fr;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  gap: 0px 0px;
  grid-template-areas:
    ". haut-gauche . . ."
    ". agr-a agr-b agr-c ."
    ". haut-mid . . ."
    ". sc-a sc-b . ."
    ". haut-droit . . ."
    ". p-a p-b p-c ."
    ". p-d p-e p-f ."
    ". logo logo logo .";
	}
}