/* Script commun à toutes les pages du site */
/* (il faudrait rajouter dans chaque css la surbrillance des cercles et des traits...) */


.fil_ariane {
  position: fixed;
  display: flex;
  align-items: center;
  padding-top: 2vh;
  padding-left: 2vh;
  left: 4vh;
  top: 1vh;
  z-index: 50;
}


.trait {

  /* placement du trait */
  position: relative;
  left: 0vh;
  margin: 0px 1vh;
  display: inline-block;
  align-items: center;

  /* apparence du trait */
  width: 10vw;
  border-top: white solid 2px;
  opacity: 0.4;
}


.cercle_outer {

  /* placement du cercle extérieur */
  display:flex;
  justify-content: center;
  align-items: center;

  /* apparence du cercle extérieur */
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  border: white solid 2px;
  background-color: #1fe0;
  opacity: 0.4;
}

.active{
  background-color: white;
  opacity: 1;
}

.active:hover{
  cursor: pointer;
}

.cercle_inner {

  /* placement du cercle intérieur */
  position: relative;
  display: inline-block;
  align-items: center;

  /* apparence du cercle intérieur */
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: white;
  opacity: 0.4;
}

.text{
  color: white;
  position: relative;
  top: 5vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  min-width: 8vw;
  text-align: center;
}

a,
a:link,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}