.fil_ariane{
  display: flex;
  align-items: center;
  position: absolute;
  padding-top: 20px;
  padding-left: 20px;
}

.trait{
  border-top: white solid 2px;
  opacity: 0.4;
  width: 100px;
  display: inline-block;
  align-items: center;
  z-index: 10;
  left: -10px;
  position: relative;
}

.cercle_outer{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: white solid 2px;
  opacity: 0.4;
  background-color: #1fe0;
  display: inline-block;
  align-items: center;
  z-index: 10;
}

.cercle_inner{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  opacity: 0.4;
  background-color: white;
  display: inline-block;
  align-items: center;
  z-index: 10;
  position: relative;
  left: -32px;
}

#cercle_outer1{
  opacity: 1;
}

#cercle_inner1{
  opacity: 1;
}

body{
  background-color: black;
}