
div#content {
	display: grid;
  grid-template-columns: 5% 40% 10% 40% 5%;
	grid-template-rows: 20% 50% 30%;
  gap: 0px 0px;
  grid-template-areas:
		". . title title ."
    ". . legende legende ."
    ". . credits info .";
}

/*=========
	= Title =
	=========*/
div#title {
	grid-area: title;
}

div#title h2 {
	color: white;
	text-transform: uppercase;
}

/*===========
	= Legende =
	===========*/
div#legende {
	grid-area: legende;
	max-height: 100%;
}

div#bubble {
	display: block;
	height: 100%;
	max-height: 50vh;
	width: 80%;
	padding: 5%;
	background: lightblue;
	border-radius: 20px;
	text-align: center;
	font-size: 1.7vh;
	text-overflow: ellipsis;
	overflow: auto;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: #0e0e0e;
border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

/*==========
	= Bouton =
	==========*/
div#info {
	grid-area: info;
}

div#credits {
	grid-area: credits;
}

/*=======================
	= Information (Modal) =
	=======================*/
div#information #modal-content {
	min-height: 75vh;
	color: #FFF;
	border-radius: 4%;
	display: grid;
  grid-template-columns: 18% 40% 33% 10%;
  grid-template-rows: 14% 14% 43% 7% 7% 15%;
  gap: 0px 0px;
  grid-template-areas:
    "logo . . quit"
    ". title-legende title-info ."
    ". text-legende infos ."
    ". . label-home ."
    ". localisation back-home ."
    ". . . .";
}

/* Ligne 1 */
#logo {
	grid-area: logo;
	margin: 5%;
}

#logo img {
	width: 90%;
	height: auto;
}

#quit {
	grid-area: quit;
}

#quit div {
	opacity: 1;
}

#quit div:hover {
	color: #FFF !important;
}

/* Ligne 2 */
#title-legende {
	grid-area: title-legende;
	margin-right: 10%;
}

#title-info {
	grid-area: title-info;
}

#title-legende h2, #title-info h4 {
	margin-block-end: inherit;
	width: 100%;
	height: 100%;
	font-weight: bold;
	text-transform: uppercase;
}

/* Ligne 3 */
#text-legende {
	grid-area: text-legende;
}

#infos {
	grid-area: infos;
}

div#services {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

.logos {
	width: 40px;
	height: 40px;
}

.info-span {
	text-decoration: underline;
	font-weight: bold;
	margin-right: 5%;
}

/* Ligne 4 */
#label-home {
	grid-area: label-home;
}

#label-home p {
	width: 70%;
}

/* Ligne 5 */
#localisation {
	grid-area: localisation;
}

#back-home {
	grid-area: back-home;
}
