* {
  margin: 0;
  padding: 0;
}

body {
	overflow: hidden;
}

img.bg, div#scene div {
  width: 105%;
	height: 105%;
}

/* Petite astuce pour avoir le parallax en full screen */
div#scene {
  height: 100vh;
  margin-left: -2.5%;
  margin-top: -2.5%;
}

div#content {
  position: absolute;
}

@keyframes waveDown {
  0%   {
    transform: translateX(0px) translateY(10px);
  }

  50%  {
    transform: translateX(15px) translateY(0px);
  }

  100% {
    transform: translateX(0px) translateY(10px);
  }
}

@keyframes waveUp {
  0%   {
    transform: translateX(15px) translateY(0px);
  }
  50%  {
    transform: translateX(0px) translateY(10px);
  }
  100% {
    transform: translateX(15px) translateY(0px);
  }
}
