
/* Normalisation des marges et padding pour simplifier le positionnement des éléments */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    overflow: hidden; /* pour slidr dans certains navigateurs */
    height: 100vh;
    width: 100vw;
}

#container {
    position: relative; /* pour permettre le positionnement en absolu des autres éléments */
}


/*-------------------------------------------------------*/
/*                     DECOR DE FOND                     */
/*-------------------------------------------------------*/


.decor {
    position: absolute;
    z-index: 0;
}


/* Affichage des 3 plans */

.plan {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.plan#plan1{
    z-index: 10;
}

.plan#plan2 {
    z-index: 9;
}

.plan#plan3 {
    z-index: 1;
}


/* Affichage des 7 vagues */

.wave {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin-top: 4vh;
}

.wave#wave1 {
    animation: waveDown 1.5s ease-in-out infinite;
    z-index: 8;
}

.wave#wave2 {
    animation: waveUp 2s ease-in-out infinite;
    z-index: 7;
}

.wave#wave3 {
    animation: waveDown 2.5s ease-in-out infinite;
    z-index: 6;
}

.wave#wave4 {
    animation: waveUp 3s ease-in-out infinite;
    z-index: 5;
}

.wave#wave5 {
    animation: waveDown 3.5s ease-in-out infinite;
    z-index: 4;
}

.wave#wave6 {
    animation: waveUp 4s ease-in-out infinite;
    z-index: 3;
}

.wave#wave7 {
    animation: waveDown 4.5s ease-in-out infinite;
    z-index: 2;
}


/* Animation des vagues */

@keyframes waveUp {
    0%, 100% {
      top: -4vh;
      scale: 1.0;
    }
  
    50% {
      top: 0;
      scale: 1.05;
    }
}

@keyframes waveDown {
    0%, 100% {
      top: 0;
      scale: 1.05;
    }
  
    50% {
      top: -4vh;
      scale: 1.0;
    }
}


/*-------------------------------------------------------*/
/*                      PERSONNAGES                      */
/*-------------------------------------------------------*/


.choix-personnages {
    position: absolute;
    width: 50vw;
    margin: 25vh 25vw 0;
    z-index: 1;
}


/* Affichage des personnages */

.personnages {
    position: relative;
    display: flex;
    justify-content: center;
}

.choix {
    border-width: 0;
    text-decoration: none;
}

.perso {
    height: 55vh;
    width: 16vw;
    transition: 0.2s ease-in-out;
}


 /* Gestion des effets sur les personnages */

.perso:hover {
    transform: scale(1.1);
}

.perso#creature {
    margin-top: 8vh;
    margin-right: -5vw;
    background-image: url("../assets/img/personnages/image_Créatures_Fantastiques.png.png");
    background-repeat: no-repeat;
    background-position: top 32% left 36.5%;
    background-size: 510%;
}

.perso#creature:hover {
    background-image: url("../assets/img/personnages/image_Créatures_Fantastiques_hover.png");
}

.perso#marin {
    margin-left: -1vw;
    background-image: url("../assets/img/personnages/image_Histoires_Maritimes.png");
    background-repeat: no-repeat;
    background-position: top 31% left 52%;
    background-size: 600%;
}

.perso#marin:hover {
    background-image: url("../assets/img/personnages/image_Histoires_Maritimes_hover.png");
}

.perso#religieux {
    margin-top: 8vh;
    margin-left: -6vw;
    background-image: url("../assets/img/personnages/image_Croyances_Religion.png.png");
    background-repeat: no-repeat;
    background-position: top 39% left 63%;
    background-size: 560%;
}

.perso#religieux:hover {
    background-image: url("../assets/img/personnages/image_Croyances_Religion_hover.png");
}


/* Affichage du type de légende selon le personnage survolé */

.zone-creature {
    z-index: 0; /* on place les créatures par-dessus le marin */
}

.zone-creature:hover .cat-creature {
    transition: all 0.3s;
    opacity: 1;
}

.zone-marin:hover .cat-marin {
    transition: all 0.3s;
    opacity: 1;
}

.zone-religieux:hover .cat-religieux {
    transition: all 0.3s;
    opacity: 1;
}


/* Affichage du nom de la catégorie survolée */

.categorie {
    position: relative;
    width: 18vw;
    opacity: 0;
}

.cat-creature {
    top: -2vh;
    right: 8vw;
}

.cat-marin {
    top: -14vh;
    left: 1vw;
}

.cat-religieux {
    top: 6vh;
    left: 4vw;
}



/* Mise en forme des textes de leur arrière-plan */

.texte {
    /* aspect du texte */
    text-align: center;
    font-size: 1.5vw;
    font-family: Helvetica;
    color: black;

    /* aspect de l'arrière-plan */
    margin: -8vh;
    padding: 2%;
    background-color: white;
    border-radius: 8%;
    border: solid;
}


/* Affichage de l'indication */

.indication {
    position: relative;
    width: 26vw;
    margin: 6vh auto 0;
}