#container {
    width: 100%;
    height: 100%;
    position: relative; /* pour permettre le positionnement en absolu des autres éléments */
}


/*-------------------------------------------------------*/
/*                     Fil d'ARIANE                      */
/*-------------------------------------------------------*/


/* Illumination des deux 1ers cercles et du 1er trait */
/* (le placement des éléments est décrit dans 'fil-ariane.css') */

#cercle_outer1, #cercle_inner1, #cercle_outer2, #cercle_inner2, #trait1 {
    opacity: 1;
}

/*-------------------------------------------------------*/
/*                      PERSONNAGES                      */
/*-------------------------------------------------------*/


.choix-personnages {
    position: absolute;
    width: 50vw;
    margin: 23vh 25vw 0;
    z-index: 1;
    background-color: orange;
}


/* Affichage des personnages */

.personnages {
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.perso {
    position: absolute;
    height: 55vh;
    width: 16vw;
    transition: 0.2s ease-in-out;
}

.perso#creatures-fantastiques {
    margin-top: 8vh;
    margin-left: -6vw;
    background: url("../assets/img/personnage/image_Créatures_Fantastiques.png") no-repeat top 32% left 36.5%;
    clip-path: polygon(36% 0, 57% 21%, 90% 34%, 100% 66%, 97% 99%, 19% 100%, 19% 78%, 23% 58%, 6% 39%, 0 4%);
    background-size: contain;
}

.perso#histoires-maritimes {
    margin-left: -4vw;
    margin-right: -4vw;
    background: url("../assets/img/personnage/image_Histoires_Maritimes.png") no-repeat top 31% left 52%;
    clip-path: polygon(50% 0%, 79% 0, 100% 13%, 100% 62%, 88% 77%, 100% 100%, 28% 100%, 23% 60%, 0 40%, 13% 12%);
    background-size: contain;
}

.perso#croyances-religion {
    height: 45vh;
    width: 10vw;
    margin-top: 16vh;
    background: url("../assets/img/personnage/image_Croyances_Religion.png") no-repeat top 39% left 63%;
    clip-path: polygon(31% 13%, 34% 0, 78% 0, 100% 28%, 100% 100%, 10% 100%, 13% 56%, 0 52%, 0 35%, 12% 19%);
    background-size: contain;
}

.zone-creatures-fantastiques {
    /* placé au-dessus de histoires-maritimes, pour éviter les incohérences dues à la forme rectangulaire des personnages */
    z-index: 2;
}

.zone-histoires-maritimes {
    /* placé au-dessus de croyances-religion, pour éviter les incohérences dues à la forme rectangulaire des personnages */
    z-index: 1;
}

.zone-croyances-religion {
    /* placé au-dessus de histoires-maritimes, pour éviter les incohérences dues à la forme rectangulaire des personnages */
    z-index: 2;
}


/* Gestion des effets sur les personnages */

.perso:hover {
    transform: scale(1.1); /* zoom lors du survol */
}

.perso#creatures-fantastiques:hover {
    background-image: url("../assets/img/personnage/image_Créatures_Fantastiques_hover.png");
}

.perso#histoires-maritimes:hover {
    background-image: url("../assets/img/personnage/image_Histoires_Maritimes_hover.png");
}

.perso#croyances-religion:hover {
    background-image: url("../assets/img/personnage/image_Croyances_Religion_hover.png");
}


/*-------------------------------------------------------*/
/*                        TEXTES                         */
/*-------------------------------------------------------*/


/* Mise en forme des textes et de leur arrière-plan */

.texte {

    /* aspect du texte */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #7D7FBC;

    /* aspect de l'arrière-plan */
    background-color: white;
    border-radius: 25px;
}


/* Placement des catégories et noms des personnages */

.categorie {
    position: relative;
    width: 20vw;
    margin: -8vh -6vw -10vh;
    font-size: 1.2vw;
    padding: 2%;
    opacity: 0;
}

.cat-creatures-fantastiques {
    top: -4vh;
    right: 8vw;
}

.cat-histoires-maritimes {
    top: -14vh;
    left: 1vw;
}

.cat-croyances-religion {
    top: 2vh;
    left: 9vw;
}


/* Affichage du type de légende selon le personnage survolé */

.zone-creatures-fantastiques:hover .cat-creatures-fantastiques:not(:hover) {
    transition: all 0.3s;
    opacity: 1;
}

.zone-histoires-maritimes:hover .cat-histoires-maritimes:not(:hover) {
    transition: all 0.3s;
    opacity: 1;
}

.zone-croyances-religion:hover .cat-croyances-religion:not(:hover) {
    transition: all 0.3s;
    opacity: 1;
}


/* Affichage de l'indication */

.indication {
    position: absolute;
    width: 26vw;
    margin-top: 80vh;
    margin-left: 36vw;
    font-size: 1.2vw;
    padding: 1%;
    text-transform: uppercase;
    font-weight: bold;
}
