
/* Normalisation des marges et padding pour simplifier le positionnement des éléments */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    overflow: hidden; /* pour slidr dans certains navigateurs */
    height: 100vh;
    width: 100vw;
}

#container {
    position: relative; /* pour permettre le positionnement en absolu des autres éléments */
}


/*-------------------------------------------------------*/
/*                     Fil d'ARIANE                      */
/*-------------------------------------------------------*/


/* Illumination des deux 1ers cercles et du 1er trait */
/* (le placement des éléments est décrit dans 'fil-ariane.css') */

#cercle_outer1 {
    opacity: 1;
}

#cercle_inner1 {
    opacity: 1;
}

#cercle_outer2 {
    opacity: 1;
}

#cercle_inner2 {
    opacity: 1;
}

#trait1 {
    opacity: 1;
}


/*-------------------------------------------------------*/
/*                     DECOR DE FOND                     */
/*-------------------------------------------------------*/


.decor {
    position: relative;
    z-index: 0;
}


/* Affichage des 3 plans */

.plan {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.plan#plan1{
    z-index: 11;
}

.plan#plan2 {
    z-index:10;
}

.plan#plan3 {
    z-index: 9;
}

.plan#plan4 {
    z-index: 1;
}


/* Affichage des 7 vagues */

.wave {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin-top: 4vh;
}

.wave#wave1 {
    animation: waveDown 1.7s ease-in-out infinite;
    z-index: 8;
}

.wave#wave2 {
    animation: waveUp 2s ease-in-out infinite;
    z-index: 7;
}

.wave#wave3 {
    animation: waveDown 2.5s ease-in-out infinite;
    z-index: 6;
}

.wave#wave4 {
    animation: waveUp 3s ease-in-out infinite;
    z-index: 5;
}

.wave#wave5 {
    animation: waveDown 3.5s ease-in-out infinite;
    z-index: 4;
}

.wave#wave6 {
    animation: waveUp 4s ease-in-out infinite;
    z-index: 3;
}


/* Animation des vagues */

@keyframes waveUp {

    /* position basse */
    0%, 100% {
      top: -4vh;
      scale: 1.0;
    }

    /* position haute */
    50% {
      top: 0;
      scale: 1.05;
    }
}

@keyframes waveDown {

    /* position haute */
    0%, 100% {
      top: 0;
      scale: 1.05;
    }

    /* position basse */
    50% {
      top: -4vh;
      scale: 1.0;
    }
}


/*-------------------------------------------------------*/
/*                      PERSONNAGES                      */
/*-------------------------------------------------------*/


.choix-personnages {
    position: absolute;
    width: 50vw;
    margin: 24vh 25vw 0;
    z-index: 1;
}
/*<div class="perso" id="marin"></div>*/
/* Affichage des personnages */

.personnages {
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.perso {
    height: 55vh;
    width: 16vw;
    transition: 0.2s ease-in-out;
}

.perso#creature {
    margin-top: 8vh;
    margin-right: -5vw;
    background: url("../assets/img/personnage/image_Créatures_Fantastiques.png") no-repeat top 32% left 36.5%;
    /* clip-path: polygon(36% 0, 57% 21%, 90% 34%, 100% 66%, 97% 99%, 19% 100%, 19% 78%, 23% 58%, 6% 39%, 0 4%); */
    background-size: 100%;
}

.perso#marin {
    background: url("../assets/img/personnage/image_Histoires_Maritimes.png") no-repeat top 31% left 52%;
    /* clip-path: polygon(50% 0%, 79% 0, 100% 13%, 100% 62%, 88% 77%, 100% 100%, 28% 100%, 23% 60%, 0 40%, 13% 12%); */
    background-size: 100%;
}

.perso#religieux {
    margin-top: 7vh;
    margin-left: -5vw;
    background: url("../assets/img/personnage/image_Croyances_Religion.png") no-repeat top 39% left 63%;
    /* clip-path: polygon(37% 0, 73% 0, 78% 14%, 100% 26%, 94% 100%, 13% 100%, 17% 55%, 0 51%, 13% 26%, 30% 17%); */
    border-collapse: collapse;
    background-size: 100%;
}

.zone-creature {
    /* créatures placées au-dessus du marin, pour éviter les incohérences dues à la forme rectangulaire des personnages */
    z-index: 2;
}

.zone-marin {
    /* marin placé au-dessus du prêtre, pour éviter les incohérences dues à la forme rectangulaire des personnages */
    z-index: 1;
}


 /* Gestion des effets sur les personnages */

.perso:hover {
    transform: scale(1.1); /* zoom */
}

.perso#creature:hover {
    background-image: url("../assets/img/personnage/image_Créatures_Fantastiques_hover.png");
}

.perso#marin:hover {
    background-image: url("../assets/img/personnage/image_Histoires_Maritimes_hover.png");
}

.perso#religieux:hover {
    background-image: url("../assets/img/personnage/image_Croyances_Religion_hover.png");
}


/*-------------------------------------------------------*/
/*                        TEXTES                         */
/*-------------------------------------------------------*/


/* Mise en forme des textes et de leur arrière-plan */

.texte {

    /* aspect du texte */
    text-align: center;
    font-size: 1.4vw;
    font-family: 'Poppins', sans-serif;
    color: black;

    /* aspect de l'arrière-plan */
    margin: -8vh -8vw;
    padding: 2%;
    background-color: white;
    border-radius: 25px;
    border: solid;
    border-width: 1px;
}


/* Placement des catégories et noms des personnages */

.categorie {
    position: relative;
    width: 24vw;
    opacity: 0;
}

.cat-creature {
    top: -2vh;
    right: 6vw;
}

.cat-marin {
    top: -14vh;
}

.cat-religieux {
    top: 4vh;
    left: 5vw;
}


/* Affichage du type de légende selon le personnage survolé */

.zone-creature:hover .cat-creature:not(:hover) {
    transition: all 0.3s;
    opacity: 1;
}

.zone-marin:hover .cat-marin:not(:hover) {
    transition: all 0.3s;
    opacity: 1;
}

.zone-religieux:hover .cat-religieux:not(:hover) {
    transition: all 0.3s;
    opacity: 1;
}


/* Affichage de l'indication */

.indication {
    position: relative;
    width: 28vw;
    margin: 5vh auto 0;
}

/* Marin :
clip-path: polygon(50% 0%, 79% 0, 100% 13%, 100% 62%, 88% 77%, 100% 100%, 28% 100%, 23% 60%, 0 40%, 13% 12%);
*/