
/* Normalisation des marges et padding pour simplifier le positionnement des éléments */
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    /* overflow: hidden; pour slidr dans certains navigateurs */
    width: 100%;
    height: 100%;
    margin-left: 5%;
}

#container {
    position: relative; /* pour permettre le positionnement en absolu des autres éléments */
}


/*-------------------------------------------------------*/
/*                     DECOR DE FOND                     */
/*-------------------------------------------------------*/


.decor {
    position: absolute;
    z-index: 0;
}


/* Affichage des 3 plans */

.plan {
    position: absolute;
}

.plan#plan1{
    z-index: 10;
}

.plan#plan2 {
    z-index: 9;
}

.plan#plan3 {
    z-index: 1;
}


/* Affichage des 7 vagues */

.wave {
    position: absolute;
    margin-top: 4vh;
}

.wave#wave1 {
    animation: waveDown 1.5s ease-in-out infinite;
    z-index: 8;
}

.wave#wave2 {
    animation: waveUp 2s ease-in-out infinite;
    z-index: 7;
}

.wave#wave3 {
    animation: waveDown 2.5s ease-in-out infinite;
    z-index: 6;
}

.wave#wave4 {
    animation: waveUp 3s ease-in-out infinite;
    z-index: 5;
}

.wave#wave5 {
    animation: waveDown 3.5s ease-in-out infinite;
    z-index: 4;
}

.wave#wave6 {
    animation: waveUp 4s ease-in-out infinite;
    z-index: 3;
}

.wave#wave7 {
    animation: waveDown 4.5s ease-in-out infinite;
    z-index: 2;
}


/* Animation des vagues */

@keyframes waveUp {
    0%, 100% {
      top: -4vh;
    }
  
    50% {
      top: 0;
    }
}

@keyframes waveDown {
    0%, 100% {
      top: 0;
    }
  
    50% {
      top: -4vh;
    }
}


/*-------------------------------------------------------*/
/*                      PERSONNAGES                      */
/*-------------------------------------------------------*/


.choix-personnages {
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 80%;
    margin: 5%;
    z-index: 1;
}


/* Affichage des boutons pour choisir le personnage */

.boutons {
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: -10% auto 5%; /* marges haut, droite/gauche, bas */
}

.btn {
    margin: 3%;
    background-color: transparent;
    border-width: 0;
}

.btn-marin:hover .cat-marin {
    transition: all 0.5s;
    opacity: 1;
}

.btn-creature:hover .cat-creature {
    transition: all 0.5s;
    opacity: 1;
}

.btn-korrigan:hover .cat-korrigan {
    transition: all 0.5s;
    opacity: 1;
}

.btn-religieux:hover .cat-religieux {
    transition: all 0.5s;
    opacity: 1;
}


/* Affichage des personnages */

.personnages {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perso {
	-webkit-filter: grayscale(100%); /* Filtre gris sur les personnages non survolés */
	filter: grayscale(100%);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.perso:hover {
    transform: scale(1.1);
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


/* Affichage du nom de la catégorie survolée */

.categorie {
    position: relative;
    background-color: white;
    margin: 5vh auto 0;
    height: 10vh;
    width: 22vh;
    display: flex;
    justify-content: center;

    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;

    opacity: 0;
}


/* Affichage de l'indication */

.indication {
    position: relative;
    text-align: center;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;

    background-color: white;
    margin: 8% auto;

    padding: 10px;

    width: 28vw;
    border-radius: 8%;
    border: solid;
}