body {
  font-family: "Segoe UI", sans-serif;
  font-size: 18px;
}

div#scene {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*img#vague1 {
  animation: waveDown 4s ease-in-out infinite;
}

img#vague2 {
  animation: waveUp 6s ease-in-out infinite;
}

img#vague3 {
  animation: waveDown 7s ease-in-out infinite;
}

img#vague4 {
  animation: waveUp 5s ease-in-out infinite;
}

img#vague5 {
  animation: waveDown 4s ease-in-out infinite;
}

img#vague6 {
  animation: waveUp 6s ease-in-out infinite;
}

img#vague7 {
  animation: waveDown 4s ease-in-out infinite;
}

@keyframes waveDown {
  0%   {
    top: 0px;
  }

  50%  {
    top: 25px;
  }

  100% {
    top: 0px;
  }
}

@keyframes waveUp {
  0%   {
    top: 25px;
  }
  50%  {
    top: 0px;
  }
  100% {
    top: 25px;
  }
}*/

div#content {
  position: absolute;
  width: 43.75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#content h4 {
  font-weight: bold;
  color: #FFF;
  font-family: "Helvetica";
  font-size: 1rem;
  z-index: 10;
}

div#content img#logo {
  width: 50%;
  height: auto;
  margin-bottom: 2.5%;
}

div#content p {
  color: #FFF; 
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

div#content div#button {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #95ABE2;
  background-color: #FFF;
  border: none;
  text-align: center;
  transition: transform 1s ease-in-out;
  margin-top: 2.5%;
}

div#content div#button:hover {
  background-color: #95ABE2;
  color: #FFF;
  cursor: pointer;
}

img.bg {
  filter: brightness(50%);
}
