div#content {
  width: 43.75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
}

div#content h4 {
  font-weight: bold;
  color: #FFF;
  font-family: "Helvetica";
  font-size: 1rem;
  text-transform: uppercase;
}

div#content img#logo {
  width: 50%;
  height: auto;
  margin-bottom: 2.5%;
}

div#content p {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

img.bg {
  filter: brightness(50%);
}
