<div id="animation_content">
    <div id="animation_text">
        <img id="animation_background"
            src="img/greeter/illustration_fond.svg#svgView(preserveAspectRatio(none))" />
        <div class="container">
            <div class="row">
                <div class="col-4 text-center">
                </div>
                <div class="col-4 text-center">
                    <img class="center" id="nantes_panel" src="img/greeter/panneau_nantes.svg" />
                </div>
                <div class="col-4 text-center">
                </div>
            </div>
            <div class="row" id="img_persona">
                <div class="col-12 text-center">
                    <img id="train" src="img/animation/train_1.svg" />
                    <div class="contain_persona">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>