<img id="conclu_background" src="/proximite-b/img/conclu/fond_sans_papy_bulle.svg#svgView(preserveAspectRatio(none))"/>
<img id="papy_bulle_background" src="/proximite-b/img/conclu/papy_et_bulle.svg#svgView(preserveAspectRatio(none))">
<img id="conclu_pointilles" src="/proximite-b/img/conclu/pointilles.svg#svgView(preserveAspectRatio(none))">
<div class="container-fluid" id="conclu_container">
    <!---<div id="background"></div>--->
    <p id="conclu_text" class="font-montserrat">TEXT samèr</p>
    <button id="conclu_adresse_button" onclick="go_to('adresses')"></button>
    <button id="conclu_persona_button" onclick="go_to('personas')"></button>
</div>