<img id="conclu_background" src="/proximite-b/img/conclu/fond_sans_papy_bulle.svg#svgView(preserveAspectRatio(none))"/>
<img id="papy_bulle_background" src="/proximite-b/img/conclu/Group_6.svg#svgView(preserveAspectRatio(none))">
<img id="conclu_pointilles" src="/proximite-b/img/conclu/pointilles.svg#svgView(preserveAspectRatio(none))">

<div id="conclu_adresse_button" onclick="go_to('adresses')">
    <p id="conclu_adresse_text">Comparer d'autres adresses</p>
    <div id="conclu_adresse_cercle"></div>
</div>

<div id="conclu_persona_button" onclick="go_to('personas')">
    <p id="conclu_persona_text">Changer de profil</p>
    <div id="conclu_persona_cercle"></div>
</div>

<div id="conclu_criteres_button" onclick="go_to('criteres')">
    <p id="conclu_criteres_text">Comparer d'autres services</p>
    <div id="conclu_criteres_cercle"></div>
</div>

<div id="conclu_credits_button" onclick="go_to('credits')">
    <p id="conclu_credits_text">Credits</p>
    <div id="conclu_credits_cercle"></div>
</div>

<!---<div class="container-fluid" id="conclu_container">--->
    <!---<div id="background"></div>--->
    <!---<p id="conclu_text">Vous voilà mieux informé.e.s pour choisir votre nouveau logement. J'espère avoir pu éclairer vos lanternes. Au plaisir de vous croiser au détour d'une rue. Bonne installation !</p>
</div>--->