<img id="credits_background" src="/proximite-b/img/credit/credits.svg#svgView(preserveAspectRatio(none))"/>

<div class="container">
    <div class="row align-items-start">
        <div class="col"></div>
        <div id="credits_titre" class="col">Credits</div>
        <div class="col"></div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            <img id="img_sc" src="/proximite-b/img/credit/logoaudenciasciencescom.jpg"/>
        </div>
        <div class="col">
            <img id="img_polytech" src="/proximite-b/img/credit/logopolytech.png"/>
        </div>
        <div class="col">
            <img id="img_agr" src="/proximite-b/img/credit/AGR_logo_Nantes_Rennes-01.png"/>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col">
            <h3 class="sous_titre">Storytelling</h3>
            <p>Delage Louise</p>
            <p>Minotto Nina</p>
        </div>
        <div class="col">
            <h3 class="sous_titre">Intégration</h3>
            <p>Baillet Manon</p>
            <p>Corcuff Lysa</p>
            <p>Germond Florine</p>
            <p>Özden Romain</p>
            <p>Plateau Alexandre</p>
            <p>Poncet Irénée</p>
            <p>Roussel Louis</p>
            <p>Willemot Hadrien</p>
        </div>
        <div class="col">
            <h3 class="sous_titre">Direction Artistique</h3>
            <p>Bouchereau Charlotte</p>
            <p>Lebreton Margot</p>
            <p>Rio Martin</p>
        </div>
    </div>

    <div class="row align-items-start">
        <div id="credit_line" class="col">
            <img id="img_hyblab" src="/proximite-b/img/credit/Logo_HYBLAB_couleur_transparent.png"/>
            <img id="img_CC" src="/proximite-b/img/credit/logoCC.png"/>
            <img id="img_oml" src="/proximite-b/img/credit/LogoOML-300x101.png"/>
            <img id="img_opensource" src="/proximite-b/img/credit/logoopensource.png"/>
            <img id="img_univ" src="/proximite-b/img/credit/logouniversitenantes.jpg"/>
        </div>
    </div>
</div>