<div id="critere_page">

<ul id="sortable1" class="connectedSortable">
    <li class="figma_button figma_bg_yellow" id="pharmacie">Pharmacie</li>
    <li class="figma_button figma_bg_orange" id="boulangerie">Boulangerie</li>
    <li class="figma_button figma_bg_blue" id="supermarche">Supermarche</li>
    <li class="figma_button figma_bg_blue" id="medecin">Médecin</li>
    <li class="figma_button figma_bg_blue" id="bus">Arret bus</li>
    <li class="figma_button figma_bg_blue" id="ecole">Ecole</li>
    <li class="figma_button figma_bg_blue" id="parc">Parc</li>
    <li class="figma_button figma_bg_blue" id="culte">Lieu de culte</li>
</ul>

<ul id="sortable2" class="connectedSortable">

</ul>

<ul id="sortable3" class="connectedSortable">

</ul>

<div>
    <button onclick="criteres_submitInterest()" class="figma_button figma_bg_orange" >Valider</button>
</div>
</div>

