<div id="critere_page">
    <div class="container">
        <div id="sort" class="row">
            <div class="col-4 text-center">
                <div id="sort2">
                    <ul id="sortable2" class="connectedSortable"></ul>
                </div>
            </div>
            <div class="col-4 text-center">
                <ul id="sortable1" class="connectedSortable">
                    <li class="figma_button figma_bg_blue" id="pharmacie">Pharmacie</li>
                    <li class="figma_button figma_bg_blue" id="boulangerie">Boulangerie</li>
                    <li class="figma_button figma_bg_blue" id="supermarche">Supermarche</li>
                    <li class="figma_button figma_bg_blue" id="medecin">Médecin</li>
                    <li class="figma_button figma_bg_blue" id="bus">Arret bus</li>
                    <li class="figma_button figma_bg_blue" id="ecole">Ecole</li>
                    <li class="figma_button figma_bg_blue" id="parc">Parc</li>
                    <li class="figma_button figma_bg_blue" id="culte">Lieu de culte</li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <div id="sort3">
                    <ul id="sortable3" class="connectedSortable"></ul>
                </div>
            </div>
        </div>
        <div class="row">

            <div id="persona" class="col text-center"></div>

            <div class="col text-center">
                <img id="greeters" src="/proximite-b/img/criteres/greeters.svg">
            </div>

            </div>
        </div>
    </div>


<!--    <div id="persona"></div>-->
<!--    <img id="greeters" src="/proximite-b/img/criteres/greeters.svg">-->



<div>
    <button onclick="criteres_submitInterest()" class="figma_button figma_bg_orange" >Valider</button>
</div>
</div>

