<div id="index_content_greeter">
    <div id="index_text">
        <P id="text_etu">
            Bonjour Monsieur, vous avez raison, je ne connais pas très bien la ville. Je suis venu visiter avant de m'installer ici, mais par où commencer ? J'hésite entre 2 quartiers
        </P>
        <p class="text_greeter">
            Bonjour jeune homme, vous avez l'air un petit peu perdu. Je peux peut-être vous aider ?
        </p>
        <P class="text_greeter">
        Moi je connais la ville comme ma poche, je suis né ici ! Quels sont les quartiers qui vous intéressent ?
        </P>        
    </div>
    <button class="figma_button figma_bg_blue" id="greeter_suivant_button">Suivant</button>

</div>