<div id="greeter_content">
    <div id="greeter_text">
        <img id = "greeter_background" src="/proximite-b/img/greeter/illustration_fond.svg#svgView(preserveAspectRatio(none))" />
        <div class="container">
            <div class="row">
                <div class="col-4" id="bulle_persona">                    
                </div>
                <div class="col-4 text-center">              
                    <img class="center" id="nantes_panel" src="/proximite-b/img/greeter/panneau_nantes.svg" />
                </div>
                <div class="col-4" id="div_bulle_greeter">   
                </div>
            </div>
            <div class="row" >
              <div class="col-6 text-center" id="div_persona_img">
                
              </div>
              <div class="col-6 text-center">
                <img id = "greeter_img" src="/proximite-b/img/greeter/papi.svg#svgView(preserveAspectRatio(none))" />

              </div>
            </div>
          </div>
    </div>
    <button class="figma_button figma_bg_blue" id="greeter_suivant_button" onclick="greeter_action(1)">Suivant</button>

</div>
