<div id="index_content_greeter">
    <div id="index_text">
        <div class="bulle bulle_etu">
            <p class="text_bulle">
                Bonjour Monsieur, vous avez raison, je ne
                connais pas très bien la ville. Je suis venu visiter avant de
                m'installer ici, mais par où commencer ?
                J'hésite entre 2 quartiers
            </p>
        </div>
        <div class="bulle bulle_greeter">
            <p class="text_bulle">
                Bonjour jeune homme, vous avez l'air
                un petit peu perdu. Je peux peut-être vous aider ?
            </p>
        </div>
        <div class="bulle bulle_greeter">
            <p class="text_bulle">
                Moi je connais la ville comme ma poche,
                je suis né ici ! Quels sont les quartiers qui vous intéressent ?
            </p>
        </div>
    </div>
    <button class="figma_button figma_bg_blue" id="greeter_suivant_button" onclick="greeter_action(1)">Suivant</button>

</div>
