<table>

    <thead>
        <tr>
            <th colspan='3'>Veuillez sélectionner une personna</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <button id="choiceE" onclick="goto_adresses('etudiant');">Etudiant</button>
            </td>
            <td>
                <button id="choiceF" onclick="goto_adresses('famille');">Famille</button>
            </td>
            <td>
                <button id="choicePA" onclick="goto_adresses('vieux');">Personne âgée</button>
            </td>
        </tr>
    </tbody>

</table>

<ul>
    <li><a onclick="goto_home()">Home</a></li>

    <li><a onclick="goto_adresses()">adresses</a></li>
    <li><a onclick="goto_personas()">personas</a></li>
    <li><a onclick="goto_timeline()">timeline</a></li>
    <li><a onclick="goto_conclu()">conclu</a></li>
</ul>

personnas
