<div class="container-fluid" id="persona_background">
   

    <p id="persona_titre" class="figma_color_blue">Choisissez votre profil: </p>




    <div class="row px-5">
        <div class="col-sm text-center px-5 py-1">
            <a onclick="go_to('adresses', {'chosen': 'etudiant'});">
                <img id="etudiant" src="/proximite-b/img/persona/Etudiant.svg" />
            </a>
            <button class="figma_button figma_bg_yellow" onclick="go_to('adresses', {'chosen': 'etudiant'});">Etudiant
            </button>
        </div>

        <div class="col-sm text-center px-5 py-1">
            <a onclick="go_to('adresses', {'chosen': 'famille'});">
                <img id="famille" src="/proximite-b/img/persona/Famille.svg" />
            </a>

            <button class="figma_button figma_bg_blue"
                onclick="go_to('adresses', {'chosen': 'famille'});">Famille</button>
        </div>
        <div class="col-sm text-center px-5 py-1">
            <a onclick="go_to('adresses', {'chosen': 'vieux'});">
                <img id="senior" src="/proximite-b/img/persona/Senior.svg" />
            </a>

            <button class="figma_button figma_bg_orange"
                onclick="go_to('adresses', {'chosen': 'vieux'});">Vieux</button>
        </div>
    </div>



    <button id="bouton_accueil" onclick="go_to('index')"></button>









</div>