<div class="container-fluid" id="persona_background">
    <p id="persona_titre">Choisissez votre profil: </p>
    <img id="etudiant" src="./img/persona/Etudiant.svg"/>
    <img id="famille" src="./img/persona/Famille.svg"/>
    <img id="senior" src="./img/persona/Senior.svg"/>
    <!-- <button id="bouton_etudiant" onclick="go_to('adresses', {'chosen': 'etudiant'});"></button>
    <button id="bouton_famille" onclick="go_to('adresses', {'chosen': 'famille'});"></button> -->
    <button id="bouton_senior" onclick="go_to('adresses', {'chosen': 'vieux'});"></button>
</div>