<div class="container">
    <h2>Timeline Comparaison</h2>
    <ul>
        <li><a onclick="go_to('index')">Home</a></li>

        <li><a onclick="go_to('adresses')">adresses</a></li>
        <li><a onclick="go_to('personas')">personas</a></li>
        <li><a onclick="go_to('timeline')">timeline</a></li>
        <li><a onclick="go_to('conclu')">conclu</a></li>
    </ul>

    <!-- Trigger the modal with a button -->
    <!-- Modal SingleItem -->
    <div class="modal fade" id="singleModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="firstItemSingleModal" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <!-- <h4 class="modal-title">Modal Header</h4> -->
                </div>
                <div id="otherItemsSingleModal" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal MultiplesItem(Plus) -->
    <div class="modal fade" id="multipleModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="headerMultipleModal" class="modal-body">
                    <!-- <h4 class="modal-title">Modal Header</h4> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="timelineholder">
        <div id="timeline1"></div>
        <div id="timeline2"></div>

        <div class="progress">
            <div id="bar1" class="progress-bar bar-T1" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Adresse1(TODOjquery)Adresse1(TODOjquery)</div>
            <div id="bar2" class="progress-bar bar-T2" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Adresse2(TODOjquery)</div>
        </div>
    </div>
</div>


