<img id="timeline_background" src="/proximite-b/img/timeline/decor-frise.svg#svgView(preserveAspectRatio(none))" />
        


<div id="timeline_Papy"><button id="timeline_Papy_button" class="figma_button figma_bg_blue" id="closePapy" onclick="closePapy()">J'ai compris !</button>

    <div>
        <img src="/proximite-b/img/timeline/papy_et_bulle.svg#svgView(preserveAspectRatio(none))" />
    </div>
</div>

<div id="timeline" class="container text-center mt-5 mb-3">


    <!-- Modal SingleItem -->
    <div class="modal fade" id="singleModal" role="dialog">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <div id="firstItemSingleModal" class="modal-header"></div>
                <div id="otherItemsSingleModal" class="modal-body"></div>
            </div>
        </div>
    </div>

    <!-- Modal MultiplesItem(Plus) -->
    <div class="modal fade" id="multipleModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <button id="closeMultipleModal" type="button" class="close" data-dismiss="modal"
                    aria-label="Close"></button>
                <div id="headerMultipleModal" class="modal-header"></div>
                <div id="bodyMultipleModal" class="modal-body"></div>
            </div>
        </div>
    </div>


    <h2 id="titleTimeline" style="visibility: hidden;" class="pb-1">Comparaison des deux adresses</h2>
    <!-- <p id="undertitleTimeline" style="visibility: hidden;" class="pb-1"><i>Vous pouvez cliquez sur les bulles pour avoir plus d'informations</i></p> -->
    <div id='waitingSpinner'>
        <img src='/proximite-b/img/timeline/avion_1.gif' />

    </div>
    <div id="compEnCours">Comparaison en cours...</div>

    <div id="timelineholder">
        <div id="timeline1"></div>
        <div id="timeline2"></div>
        <div id="progressDiv" class="progress" style="visibility: hidden;"></div>

        <button id="goToConclusion" style="visibility: hidden;" class="mb-2 py-2 px-5 mt-5  figma_button figma_bg_orange"
            id="start_button" onclick="go_to('conclu')">Conclusion</button>
    </div>
</div>