html, body {
	font-family: 'Montserrat';
	background: #b7d5ed;
	margin: 0;
	padding: 0;
	height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80%;
    right: 0;
}

#left-nav{
    width: 20%;
    background-color: white;
    height: 100%;
}

.marker {
    width: 28px;
    height: 35px;
    background-size: contain;
    cursor: pointer;
}

.mapboxgl-ctrl-directions{
    width: 95%!important;
    min-width: 0!important;

}
