html, body {
	font-family: 'Montserrat', sans-serif;
	background: #b7d5ed;
	margin: 0;
	padding: 0;
	height: 100%;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	right: 0;
	z-index: auto;

}

#left-nav {
	width: 457px;
	background-color: white;
	height: 100%;
	color: black;
	font-size: 13px;
	position: absolute;
	z-index: 2;
	padding-top: 100px;
	padding-left: 35px;
	visibility: hidden;
}

.marker {
	width: 28px;
	height: 35px;
	background-size: contain;
	cursor: pointer;
}

.mapboxgl-ctrl-directions {
	width: auto !important;
	min-width: 0 !important;
	max-width: 300% !important;
}

/*header*/
header h1, header h2 {
	display: none;
}

header img {
	width: 380px;
}

/*Bicky Question*/
.bicky-question {
	position: relative;
	text-align: center;
	color: white;
}

.bicky-question h2 {
	color: black;
	position: absolute;
	left: calc(50% - 80px);
}

/*Style des boutons*/

.button:hover p:after {
	opacity: 1;
	right: 0;
}

.button-panel-right {
	height: 80px;
	width: 200px;
	border-radius: 34px 120px 120px 34px;
}

.button-panel-left {
	height: 80px;
	width: 200px;
	border-radius: 120px 34px 34px 120px;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label {
	width: 42px;
	height: 22px;
	display: inline-block;
	padding: 0 0 0 0;
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 14px;
}

input[type=checkbox]:checked + label {
	border: 2px solid #000000;
	box-sizing: border-box;
	border-radius: 14px;
	width: 42px;
	height: 22px;
	display: inline-block;
	padding: 0 0 0 0;
	background: #2EAD72 url("../img/checked.png") no-repeat center;

}

.button-cross {
	background: white url("../img/cross_orange.png") no-repeat center;
	width: 100px;
	height: 57px;
	border: 2px solid #F96D48;
	box-sizing: border-box;
	border-radius: 34px;

}

.button-cross:hover {
	background: #F96D48 url("../img/cross_blanc.png") no-repeat center;
	cursor: pointer;
}

.button-menu {
	background: white url("../img/menu_orange.png") no-repeat center;
	width: 100px;
	height: 57px;
	border: 2px solid #F96D48;
	box-sizing: border-box;
	border-radius: 34px;
}

.button-menu:hover {
	background: #F96D48 url("../img/menu_blanc.png") no-repeat center;
	cursor: pointer;
}

.mapboxgl-ctrl-geocoder .suggestions {
	top: 30px;
}

.geocoder-pin-right {
	visibility: hidden;
}
