body {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	font-family: 'Montserrat', sans-serif;
}

.container_map {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-left: 160px;
}

#container-bicky {
	visibility: hidden;
	z-index: 1;

	transition: all 0.5s;
}

input {
	margin-top: 2%;
	z-index: 1000;
	min-height: 68px;
}


@media (orientation: portrait) {
	.bottom-right-nav-container {
		align-items: center;
	}

	.container_map {
		align-self: center;
		margin: 0;
	}

	#container-bicky {
		display: flex;
	}

	.bicky-savoir {
		display: none;
	}

	#bicky-habille {
		display: none;
	}
}

@media (orientation: landscape) {
	.bottom-right-nav-container {
		align-items: flex-end;
		position: fixed;
		bottom: 0;
		right: 0;
	}
}

#map {
	width: 100% !important;
}

#messageFin {
	margin: 1em 0;
	text-align: center;
	font-size: large;
	font-weight: bold;
	color: #F96D48;
	line-height: 1.5em;
}

h3 {
	margin-top: 1em;
}

.bicky-habille {
	z-index: 10;
	height: 26px;
	margin-bottom: 30px;
	transform: scale(7);
}

.bicky-habille-pluie {
	z-index: 10;
	height: 26px;
	margin-bottom: 50px;
	transform: scale(6);
}
