/* ------- Important ! Regardez bien à la fin de ce CSS pour des règles permettant de ----------- */
/* contraindre le format des slides affichés sur la page web */


/* normalisation des marges et padding pour simplifier le positionnement des éléments */
* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
	color: white;
	overflow: hidden; /* pour slidr dans certains navigateurs */
}

#container {
	position: relative; /* pour permettre le positionnement en absolu des autres éléments */
}

/* on fait en sorte que le slidr et les slides remplissent tout notre conteneur */
#slidr, #slidr section {
	background-color: dodgerblue;
	width: 100%;
	height: 100%;
}

/* pour le positionnement facile, on place tout en absolue et on exprime tout en % */
#titre {
	text-align: center;
	width: 20%;
	left: 30%;
	top: 10%;
	position: absolute;
	font-size: 30%;
}

#logo-hyblab {
	text-align: center;
	width: 50%;
	left: 50%;
	top: 50%;
	margin-left: -25%;
	margin-top: calc(-7.5% * 9 / 16); /* les marges sont exprimées en % de la largeur... :-( */
	position: absolute;
	font-size: 50%;
}

#background-video {
	position: relative; /* on doit positionner un éléments pour pouvoir ajuster sont z-index */
	z-index: -1;
}

/* on centre l'image de fin */
#img-fini {
	width: 50%;
	left: 50%;
	top: 40%;
	position: absolute;
	margin-left: -25%;
	margin-top: calc(-25% * 9 / 16); /* les marges sont exprimées en % de la largeur... :-( */
}

/* le footer de la slide 1 est positionné en bas de la slide et son texte est centré */
section[data-slidr="page-1"] footer {
	width: 100%;
	bottom: 5%;
	position: absolute;
	font-size: 20%;
	text-align: center;
}

/* Pour que la vidéo remplisse son conteneur (elle sera un peu coupée si nécessaire...) */
.vjs-tech {
	object-fit: cover;
}

/* dernier slide sur fond blanc */
section[data-slidr="page-2"] {
	background-color: white;
}

/* ---------- mise en forme du bandeau des logos ----------------- */
/* ici comme on doit contraindre la hauteur des images (et non leur largeur) */
/* on ne peut pas utiliser de taille en % on utilise donc des em (qui sont définis */
/* comme proportiels à la tailles des slides grace à nos règles plus bas */
/* (cf. fondt-size du body) */

#bandeau {
	padding-top: 3%;
	width: 100%;
	height: 17%;
	position: absolute;
	bottom: 0;
	background-color: white;
	font-size: 20%;
	z-index: -1;
}

#bandeau li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.5em;
}


#bandeau img {
	height: 2em;
}

#bandeau #hyblab {
	margin: 0.5em 3em;
	height: 3em;
	float: left;
}

#bandeau #cc, #bandeau #opensource {
	height: 1em;
}

#bandeau .stacked {
	display: block;
}

#bandeau ul {
	text-align: center;
	padding: 0 0;
}

#bandeau .institutionnel {
	height: 2em;
}

header {
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	z-index: 1;
}

header .logo {
	width: 276px;
}

.container_map {
	background-color: white;
	color: black;
	width: 356px;

	z-index: 999;
	border-radius: 34px;
}

.container_map p {
	font-size: 13px;
	font-weight: 400;
	line-height: 15.85px;
}

.bottom-left-nav {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.bottom-right-nav-container {
	display: flex;
	flex-direction: column;
}

#btn-menu-nav {
	position: absolute;
	z-index: 3;
	top: 25px;
	left: 35px;
}

#btn-recalculer {
	width: 85%;
	height: 47px;
	margin-bottom: 18px;
}

/*Redéfinition controles MapBox*/

.mapboxgl-ctrl-geocoder input[type='text'] {
	height: 47px;
	background: #FFFFFF;
	border: 1px solid #DBDBDB;
	box-sizing: border-box;
	border-radius: 34px;
	margin-bottom: 18px;
}

.mapbox-directions-origin .mapbox-form-label, .mapbox-form-label, .mapbox-directions-inputs button {
	display: none;
}

.mapbox-directions-component-keyline {
	box-shadow: none;
}

.mapboxgl-ctrl-geocoder {
	margin-left: 0;
}

/*Fin de redéfinition controles MapBox*/

#form-veli-fin {
	text-align: center;
}
