/* ---------------------------- Activities ------------------------ */
.leaves-activities{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    text-align: center;
    z-index: 1;
}

.oya-activities{
    position: absolute;
    top: 22%;
    left: 4%;
    width: 30%;
    z-index: 2;
}

.talking-bubble-activities{
    position: absolute;
    top: 14%;
    left: 25%;
    width: 7%;
    z-index: 2;
}

.text-dialog-activities {
  position: absolute;
  top: 70%;
  left: 12%;
  width: 22%;
}

.oya-activities-dialog{
    position: absolute;
    top: 10%;
    left: 35%;
    width: 40%;
    z-index: 2;
}

.picto-activities{
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 3em;
    height: 0.8em;
    z-index: 1;
}

.crapa-picto{
    top: 23%;
}

.games-picto{
    top: 37%;
}

.sport-field-picto{
    top: 51%;
}

.activities-picto{
    top: 65%;
}

.statue-picto{
    top: 79%;
}
/* Switch buttons */
.switch {
    position: absolute;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #685A82;
    -webkit-transition: .4s;
    transition: .4s;
    border: .07em solid #ffe9de;
}

.slider:before {
    position: absolute;
    content: "";
    height: .66em;
    width: .66em;
    background-size: 100%;
    -webkit-transition: .4s;
    transition: .4s;
}

.picto-activities-hover{
    display: inline-flex;
    position: absolute;
    width: 4.5em;
    height: 4.5em;
    float: left;
    margin-right: 0;
    margin-left: 0.5em;
    opacity: 0;
    color: #FFCDB6;
    font-size: 0.15em;
    align-items: center;
    text-align: center;
}

.picto-activities:hover span.slider:before{
    opacity: 0.3;
}

.picto-activities:hover .picto-activities-hover{
    opacity: 1;
}

input[type=checkbox]:checked ~ * .picto-activities-hover{
    right: 0;
    margin-left: 0;
    margin-right: 0.5em;
    color: #45396D;
}

.crapa-picto input[type=checkbox]:checked + span.slider:before{
    background-image: url("../img/common/pictograms/crapa_picto.svg");
}

.crapa-picto input[type=checkbox] + span.slider:before{
    background-image: url("../img/common/pictograms/no_crapa_picto.svg");
}

.games-picto input[type=checkbox]:checked + span.slider:before{
    background-image: url("../img/common/pictograms/games_picto.svg");
}

.games-picto input[type=checkbox] + span.slider:before{
    background-image: url("../img/common/pictograms/no_games_picto.svg");
}

.sport-field-picto input[type=checkbox]:checked + span.slider:before{
    background-image: url("../img/common/pictograms/sport_field_picto.svg");
}

.sport-field-picto input[type=checkbox] + span.slider:before{
    background-image: url("../img/common/pictograms/no_sport_field_picto.svg");
}

.activities-picto input[type=checkbox]:checked + span.slider:before{
    background-image: url("../img/common/pictograms/activities_picto.svg");
}

.activities-picto input[type=checkbox] + span.slider:before{
    background-image: url("../img/common/pictograms/no_activities_picto.svg");
}

.statue-picto input[type=checkbox]:checked + span.slider:before{
    background-image: url("../img/common/pictograms/statue_picto.svg");
}

.statue-picto input[type=checkbox] + span.slider:before{
    background-image: url("../img/common/pictograms/no_statue_picto.svg");
}

input:checked + .slider {
    background-color: #ffcdb6;
}

input:checked + .slider:before {
    -webkit-transform: translateX(333%);
    -ms-transform: translateX(333%);
    transform: translateX(333%);
}

/* Rounded sliders */
.slider.round {
    border-radius: 50px;
}

.ariane-1-activities{
    top: 0.5%;
}
.ariane-2-activities{
    top: 14.5%;
}
.ariane-3-activities{
    top: 29%;
}
.ariane-4-activities{
    top: 44%;
}
.ariane-5-activities{
    top: 58.5%;
}

.ui-draggable-handle{
    cursor: grab;
}

.ui-draggable-dragging{
    cursor: grabbing!important;
}
