/* ------------------------- Page Address ---------------------------- */

/* Mes variables */
:root {
    --space-between-buttons: 2%;
    --button-height:18%;
    --border-radius:1em;;
    --slider-width: 20%;
    --slider-thumb-width: 3vw;
}

.addresses-main-buttons{
   position: relative;
   left: 43.4%;
   top: 46%;
   width: 13.1%;
   height: 35%;
}

.address-zone{
   position: absolute;
   height: 6.4%;
   top: 38.6%;
   width: 26%;
   left: 37%;
}

.label-address{
   font-size: 0.15em!important;
   position: absolute;
   height: 100%;
   z-index: 3;
   border-radius: var(--border-radius);
   width: 50.5%;
}

.input-address{
   height: calc(100% - 4px);
   position: absolute;
   font-size: 0.15em!important;
   border-radius: var(--border-radius);
   border: 2px solid #ffa584;
   z-index: 1;
   padding-left: 9%;
   left: 42%;
   width: 48%;
}

.input-address:focus{
   outline: none;
}

.localize-icon{
   width: 9%;
   position: absolute;
   top: 22%;
   right: 5%;
}

.loading-icon-white{
   width: 12%;
   animation: rotation 2s infinite linear;
   position: absolute;
   top: 25%;
   right: 3%;
}

@keyframes rotation {
from {
   transform: rotate(0deg);
}
to {
   transform: rotate(359deg);
}
}

.button-addresses{
   display: block;
   width:100%;
   height: var(--button-height);
   border-radius: var(--border-radius);
   position:absolute;
}

#localization-button:disabled{
   background-color: #45396D;
}

.button-first{
   top: 0;
}

.button-second{
   top: calc((var(--button-height) + var(--space-between-buttons)) );
}

.button-next-address-from-continue{
   top: 87%;
   z-index: 6;
}

.pac-item:hover{
   background-color:#ffa584;
   color:white;
}

.addresses-slider{
   position: absolute;
   left: calc(60% - var(--slider-width));
   top: calc(67%);
   height: 10%;
   width: calc(var(--slider-width));
}

#localize-range{
   position: absolute;
   width: 100%;
   height: 5%;
   -webkit-appearance: none;
   background-color: #FFCDB6;
   border-radius: 8px;
   top: 33%;
}

#localize-range:focus{
   outline: none;
}

#localize-range::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: var(--slider-thumb-width);
   height: var(--slider-thumb-width);
   border: 0;
   background: url(../img/slider.svg);
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
}

#localize-range::-moz-range-thumb {
   width: var(--slider-thumb-width);
   height: var(--slider-thumb-width);
   border: 0;
   background: url(../img/slider.svg);
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
}

.range-value{
   position: absolute;
   top: 80%;
}

.range-value span{
   width: 6vw;
   height: 3vw;
   line-height: 3vw;
   text-align: center;
   background: #45396D;
   color: #fff;
   font-size:1.5vw!important;
   display: block;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   border-radius: 1vw;
}

.range-value span:before{
   content: "";
   position: absolute;
   width: 0;
   height: 0;
   border-bottom: 1vw solid #45396D;
   border-left: 0.5vw solid transparent;
   border-right: 0.5vw solid transparent;
   top: -23%;
   left: 50%;
   margin-left: -0.5vw;
   margin-top: -0.1vw;
}

.address-robot{
   position: absolute;
   width: 32%;
   top: 24%;
   right: 4%;
}

.arianne-2-address{
    top: 36.5%;
}
.arianne-3-address{
    top: 50.5%;
}
.arianne-4-address{
    top: 64.5%;
}
.arianne-5-address{
    top: 79%;
}
.arianne-6-address{
    top: 93%;
}