/* ------------------------- Page Address ---------------------------- */

/* Mes variables */
:root {
    --space-between-buttons: 1vw;
    --button-height:5vw;
    --button-width:22vw;
    --input-padding:1vw;
    --input-height:2vw;
    --label-height:2vw;
    --border-radius:1vw;
    --space-below-label:1.05vw;
    --label-total-height: calc(var(--label-height) + var(--space-below-label));

    --slider-width: 36vw;
    --slider-thumb-width: 3.5vw;
}

.addresses-main-buttons{
    position: relative;
    left: calc(62% - var(--button-width));
    top: calc(24%);
}

.label-address{
    font-size:2vw!important;
    height:var(--label-height);
    position:absolute;
    width: var(--button-width);
}

.input-address{
    font-size: 1.5vw!important;
    height: var(--input-height);
    border-radius: var(--border-radius);
    border: 2px solid #ffa584;
    padding: var(--input-padding);
    width: calc(var(--button-width) - var(--input-padding) * 2);
    position:absolute;
    top: var(--label-total-height);
}

.input-address:focus{
    outline: none;
}

.localize-icon{
    width: 2vw;
    position: absolute;
    left: 18vw;
    top: 1vw;
}

.loading-icon-white{
    width: 3vw;
    position: absolute;
    left: 18vw;
    top: 1vw;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.button-addresses{
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--border-radius);
    position:absolute;
}

.button-first{
    top: calc(var(--button-height) + var(--space-between-buttons) + var(--label-total-height));
}

.button-second{
    top: calc((var(--button-height) + var(--space-between-buttons)) * 2 + var(--label-total-height));
}

.button-third{
    top: calc((var(--button-height) + var(--space-between-buttons)) * 3 + var(--label-total-height));
}

.pac-item:hover{
    background-color:#ffa584;
    color:white;
}

.addresses-slider{
    position: relative;
    left: calc(68% - var(--slider-width));
    top: calc(76%);
    height: 6vw;
    width: calc(var(--slider-width));
}

#localize-range{
    position: absolute;
    width: var(--slider-width);
    height: 0.3vw;
    -webkit-appearance: none;
    background-color: #FFCDB6;
    border-radius: 8px;
    top: 1.8vw
}

#localize-range:focus{
    outline: none;
}

#localize-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-width);
    border: 0;
    background: url(../img/slider.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

}

#localize-range::-moz-range-thumb {
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-width);
    border: 0;
    background: url(../img/slider.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider-legend{
    font-size:2.1vw;
    position:absolute;
    top:3.7vw;
    color:#45396D;
}

.slider-legend-center{
    left:15vw;
}

.slider-legend-right{
    left:29vw;
}

