/* ------------------------- Page Address ---------------------------- */

/* Mes variables */
:root {
    --space-between-buttons: 3%;
    --button-height:18%;
    --input-padding:3%;
    --input-height:10%;
    --label-height:9%;
    --border-radius:1.5vw;
    --space-below-label:0%;
    --space-below-input: 10%;
    --vh-vw: calc(1vh + 1vw);
    --label-total-height: calc(var(--label-height) + var(--space-below-label));
    --label-input-height: calc(var(--label-total-height) + var(--input-height) + var(--input-padding));
    --slider-width: 21%;
    --slider-thumb-width: 3.5vw;
}

/* Width < height Ne pas suppr ça peut servir
@media screen and (orientation:portrait) {
    :root {
        --vertical-calculated-margin: calc((100vh - (100/(16/9))vw)/2);
        --horizontal-calculated-margin: 0;
    }

}
 /* Width > height Ne pas suppr ça peut servir
@media screen and (orientation:landscape) {
    :root {
        --vertical-calculated-margin: 0;
        --horizontal-calculated-margin: calc((100vw - (100*(16/9))vh)/2);
    }
}
*/

.addresses-main-buttons{
    position: relative;
    left: 39%;
    top: 25%;
    width: 23%;
    height: 51%;
}

.label-address{
    font-size:var(--vh-vw)!important;
    height:var(--label-height);
    position:absolute;
}

.input-address{
    position:absolute;
    top: var(--label-total-height);
    font-size: 0.15em!important;
    height: var(--input-height);
    border-radius: var(--border-radius);
    border: 2px solid #ffa584;
    padding: var(--input-padding);
    width: calc(100% - 2 * var(--input-padding));
}

.input-address:focus{
    outline: none;
}

.localize-icon{
    width: 9%;
    position: absolute;
    left: 84%;
    top: 18%;
}

.loading-icon-white{
    width: 15%;
    position: absolute;
    left: 79%;
    top: 14%;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.button-addresses{
    display: block;
    width:100%;
    height: var(--button-height);
    border-radius: var(--border-radius);
    position:absolute;
}

.button-first{
    top: calc(var(--space-below-input) + var(--label-input-height) );
}

.button-second{
    top: calc(var(--space-below-input) + var(--label-input-height) + (var(--button-height) + var(--space-between-buttons)) );
}

.button-third{
    top: calc(var(--space-below-input) + var(--label-input-height) + (var(--button-height) + var(--space-between-buttons)) * 2);
}

.button-localize-text{
    margin-right: 3vw;
}

.pac-item:hover{
    background-color:#ffa584;
    color:white;
}

.addresses-slider{
    position: absolute;
    left: calc(61% - var(--slider-width));
    top: calc(76%);
    height: 10%;
    width: calc(var(--slider-width));
}

#localize-range{
    position: absolute;
    width: 100%;
    height: 5%;
    -webkit-appearance: none;
    background-color: #FFCDB6;
    border-radius: 8px;
    top: 33%;
}

#localize-range:focus{
    outline: none;
}

#localize-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-width);
    border: 0;
    background: url(../img/slider.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

}

#localize-range::-moz-range-thumb {
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-width);
    border: 0;
    background: url(../img/slider.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* à garder si on change d'avis...
.slider-legend{
    font-size:2.1vw;
    position:absolute;
    top:3.7vw;
    color:#45396D;
}

.slider-legend-center{
    left:15vw;
}

.slider-legend-right{
    left:29vw;
}
*/

.range-value{
    position: absolute;
    top: 80%;
}

.range-value span{
    width: 6vw;
    height: 3vw;
    line-height: 3vw;
    text-align: center;
    background: #45396D;
    color: #fff;
    font-size:1.5vw!important;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 1vw;
}
.range-value span:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 1vw solid #45396D;
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
    top: -23%;
    left: 50%;
    margin-left: -0.5vw;
    margin-top: -0.1vw;
}

.address-robot{
    position:absolute;
    width: 35%;
    top: 9%;
    right: 3%;
}