/* ------------------------- Page Age ---------------------------- */
.image_age{
    position: absolute;
    top: 19%;
    left : 41%;
    width: 21%;
    z-index: 2;
}

.leaves-age{
    position: absolute;
    top: 0;
    left: 70%;
    height: auto;
    width: 100%;
    z-index: 2;
}

.yeux_cache{
    position: absolute;
    top: 8%;
    left : 2.5%;
    width: 19%;
    font-size: 23% ;
    z-index: 1;
}

.vague_age{
    position: absolute;
    top: 14%;
    left : 22%;
    width: 5%;
    transform: rotate(16deg);
    z-index: 1;
}

.text_rbt_age{
    position: absolute;
    top: 10%;
    left : 28%;
    font-size: 30% ;
    z-index: 1;
}

.arrive_age{
    position: absolute;
    top: 235%;
    left : 14%;
    width: 19%;
    z-index: 1;
}

.vague_chut{
    position: absolute;
    top: 74%;
    left : 31%;
    width: 4%;
    z-index: 1;
}

.age_chut{
    position: absolute;
    top: 74%;
    left : 35.5%;
    width: 20%;
    z-index: 1;
}

.fleche_gauche{
    position: absolute;
    top: 50%;
    left : 38%;
    width: 3%;
    z-index: 2;
}

.fleche_droite{
    position: absolute;
    top: 50%;
    left : 62%;
    width: 3%;
    z-index: 2;
}

.boutton_add{
    position: absolute;
    top: 62%;
    left : 50%;
    width: 3%;
    z-index: 2;
}

.bb{
    position: absolute;
    top: 28%;
    left : 10%;
    width: 6%;
    z-index: 2;
}
.supp_bb{
    position: absolute;
    top: 26%;
    left : 14.5%;
    width: 3%;
    z-index: 2;
}

.nounours{
    position: absolute;
    top: 28%;
    left : 20%;
    width: 6%;
    z-index: 2;
}
.supp_nounours{
    position: absolute;
    top: 26%;
    left : 24.5%;
    width: 3%;
    z-index: 2;
}

.lego{
    position: absolute;
    top: 46.5%;
    left : 10%;
    width: 6%;
    z-index: 2;
}

.supp_lego{
    position: absolute;
    top: 43%;
    left : 14.5%;
    width: 3%;
    z-index: 2;
}

.ballon{
    position: absolute;
    top: 45%;
    left : 20%;
    width: 6%;
    z-index: 2;
}

.supp_ballon{
    position: absolute;
    top: 43%;
    left : 24.5%;
    width: 3%;
    z-index: 2;
}

.page2{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
}

