/* -------------------------- Fauna Flora -------------------- */
.leaves-fauna-flora{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    text-align: center;
    z-index: 2;
}

.planet-fauna-flora{
    position: absolute;
    top: 33%;
    left: 80%;
    width: 17%;
    z-index: 3;
}
.oya-fauna-flora{
    position: absolute;
    top: 13%;
    left: 25%;
    width: 15%;
    z-index: 2;
}

.talking-bubble-fauna-flora{
    position: absolute;
    top: 24%;
    left: 38%;
    width: 5%;
    z-index: 2;
}

.oya-fauna-flora-dialog{
    position: absolute;
    top: 14%;
    left: 42%;
    width: 25%;
    z-index: 2;
}

.picto-fauna-flora{
    position: absolute;
    width: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.dog-picto{
    top: 30%;
}

.animals-picto{
    top: 39%;
}

.pond-picto{
    top: 48%;
}

.grass-picto{
    top: 57%;
}

.tree-picto{
    top: 66%;
}

.button-non-fauna-flora{
    position: absolute;
    width: 20%;
    height: 25%;
}

.button-oui-fauna-flora{
    position: absolute;
    width: 20%;
    height: 25%;
}
