/* -------------------------- Fauna Flora -------------------- */
.leaves-fauna-flora{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: auto;
    text-align: center;
    z-index: 2;
}

.planet-fauna-flora{
    position: absolute;
    top: 33%;
    left: 80%;
    width: 17%;
    z-index: 3;
}
.oya-fauna-flora{
    position: absolute;
    top: 8%;
    left: 17%;
    width: 22%;
    z-index: 2;
}

.talking-bubble-fauna-flora{
    position: absolute;
    top: 24%;
    left: 38%;
    width: 5%;
    z-index: 2;
}

.oya-fauna-flora-dialog{
    position: absolute;
    top: 6%;
    left: 34%;
    width: 63%;
    z-index: 2;
    font-size: 38%;
}

.oya-fauna-flora-dialog-indication{
    position: absolute;
    top: 12%;
    left: 39%;
    width: 35%;
    z-index: 2;
    font-size: 20%;
    text-align: center;
}

.picto-fauna-flora{
    position: absolute;
    width: 27%;
    left: 40%;
    top: -5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.dog-picto{
    top: 30%;
}

.animals-picto{
    top: 39%;
}

.pond-picto{
    top: 48%;
}

.grass-picto{
    top: 57%;
}

.tree-picto{
    top: 66%;
}

.button-non-fauna-flora{
    position: absolute;
    width: 22%;
    height: 25%;
    padding: 1%;
}

.button-oui-fauna-flora{
    position: absolute;
    width: 22%;
    height: 25%;
    padding: 1%;
}

.column-faune{
    float: left;
    height: 32%;
    padding: 2%;
    height: 18%;
    width: 100%;
}

.dropableCell .column-faune{
    margin-left: 20%;
    margin-bottom: 1%;
    background-color:red;
}

.images-base-fauna{
    position: absolute;
    top: 33%;
    left:41%;
    height: 50%;
    width : 20%;
    text-align: center;
}
.image-drop, .image-drop-fauna{
     z-index:9999;
}

.dropableCell-fauna img{
    width:80%;
}

.planet-saturn{
    position: absolute;
}

.button-non-fauna-flora div{
    z-index: 9999;
    width: 21%!important;
    height: 31%!important;
    padding: 1%!important;
}

.button-oui-fauna-flora div{
    z-index: 9999;
    width: 21%!important;
    height: 31%!important;
    padding: 1%!important;
}

.titre-button-fauna{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Comfortaa, serif;
    padding: 5%;
    font-size: 80%;
    margin-bottom: 9%;
}


.arianne-1-fauna-flora{
    top: 0.5%;
}
.arianne-2-fauna-flora{
    top: 14.5%;
}
.arianne-3-fauna-flora{
    top: 30%;
}
.arianne-4-fauna-flora{
    top: 45.5%;
}
.arianne-6-fauna-flora{
    top: 93%;
}