.robot_histoire{
    position: absolute;
    top: 21%;
    left: 0%;
    width: 30%;
    z-index: 2;
}

.oya-histoire-dialog{
    position: absolute;
    top: 19%;
    left: 30%;
    width: 50%;
    text-align: justify;
}

.accueil{
    position: absolute;
    top: 92%;
    left: 41%;
    width: 18%;
    border: .5em solid #FFCDB6;
}
