/* ------------------------- Page Home ---------------------------- */
.trees-planet-home{
    position: absolute;
    top: 40.5%;
    left: 0;
    width: 35%;
    z-index: 4;
}

.planet-home{
    position: absolute;
    top: 40%;
    left: 0;
    width: 15%;
    z-index: 3;
}

.leaves-home{
    position: absolute;
    top: 0;
    left: 50%;
    height: auto;
    width: 100%;
    z-index: 2;
}

.shooting-stars{
    position: absolute;
    top: -30%;
    left: 100%;
    width: 10%;
    z-index: 1;
}

.oya-hello{
    position: absolute;
    top: 15%;
    left: 39%;
    width: 20%;
    z-index: 4;
}

.rocket-hello{
    position: absolute;
    top: 10%;
    left: 45%;
    width: 10%;
    opacity: 0;
    z-index: 3;
}

.button-begin{
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: 62%;
    left: 47.2%;
    z-index: 2;
    border-radius: 50%;
    border: 0.2em solid #ffe9de;
}

.button-begin:hover{
    color: #FFCDB6;
    background-color: #45396D;
    border: 0.2em solid #aba3ca;
}

.catch-phrase{
    position: absolute;
    top: 78%;
    margin-bottom: : 2.5em;
    left: 50%;
    width: 20%;
    height: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
}

.talking-bubble-home{
    position: absolute;
    top: 28%;
    left: 57%;
    width: 5%;
    z-index: 2;
    opacity: 0;
}

.oya-home-go{
    position: absolute;
    top: 25%;
    left: 63%;
    width: 20%;
    z-index: 2;
    opacity: 0;
}
