/* ------------------------- Page Hour ---------------------------- */
.sol-hour{
    z-index: 3;
}

.page{
  position: absolute;
  right: 0%;
  bottom: 0%;
}

.buisson-hour{
    z-index: 4;
}

.pink-planet-hour{
    z-index: 1;
}
.green-planet-hour{
    z-index: 4;
}

.oya-hour{
    position: absolute;
    top: 15%;
    left: 2%;
    width: 23%;
    z-index: 2;
}

.talking-bubble-hour{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 5%;
    z-index: 2;
}

.oya-hour-dialog{
    position: absolute;
    top: 15%;
    left: 33%;
    width: 40%;
    z-index: 2;
}

.leaves-hour{
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.button-suivant-hour{
    top: 87%;
    z-index: 6;
}

.oya-hour-dialog-bas{
  position: absolute;
  left: 33%;
  top: 20.5%;
}

#svg-slider{
  position: absolute;
  top : 52%;
  top : 56%;
  left : 36%;
  width: 28%;
  z-index: 2;
}

.hour-9{
    position: absolute;
    width: 4.5%;
    top:60%;
    left:30%;
    z-index: 3;
    transform: rotate(10deg);
}

.hour-17{
    position: absolute;
    width: 4.5%;
    top:61%;
    left:66%;
    z-index: 3;
    transform: rotate(-6deg);
}

.hour-aprem{
    position: absolute;
    width: 18%;
    top:46%;
    left:41%;
    z-index: 3;
    transform: rotate(2deg);
}

.violet{
    z-index: 4;
}

.sol{
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  z-index: 3;
}

.buisson1{
  position: absolute;
  bottom: 3%;
  left: 0%;
  width: 12%;
  z-index: 4;
}

.buisson2{
  position: absolute;
  bottom: 3.2%;
  left: 10%;
  width: 7%;
  z-index: 4;
}

.buisson3{
  position: absolute;
  bottom: 2%;
  left: 72%;
  width: 7%;
  z-index: 4;
}

.buisson4{
  position: absolute;
  bottom: 1%;
  left: 78%;
  width: 12%;
  z-index: 4;
}


.arianne-1-hour{
    top: 0.5%;
}
.arianne-3-hour{
    top: 50.5%;
}
.arianne-4-hour{
    top: 64.5%;
}
.arianne-5-hour{
    top: 79%;
}
.arianne-6-hour{
    top: 93%;
}