/* ------------------------- Page Hour ---------------------------- */
.sol-hour{
    z-index: 3;
}

.buisson-hour{
    z-index: 4;
}

.pink-planet-hour{
    z-index: 1;
}
.green-planet-hour{
    z-index: 4;
}

.oya-hour{
    position: absolute;
    top: 15%;
    left: 2%;
    width: 23%;
    z-index: 2;
}

.talking-bubble-hour{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 5%;
    z-index: 2;
}

.oya-hour-dialog{
    position: absolute;
    top: 15%;
    left: 33%;
    width: 40%;
    z-index: 2;
}

.leaves-hour{
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.button-suivant-hour{
    top: 87%;
    z-index: 6;
}

#svg-slider{
    position: absolute;
    top : 52%;
    left : 38%;
    width: 24%;
    z-index: 5;
}

.hour-9{
    position: absolute;
    width: 4.5%;
    top:61%;
    left:31%;
    z-index: 3;
}

.hour-17{
    position: absolute;
    width: 4.5%;
    top:61%;
    left:63%;
    z-index: 3;
}

.hour-aprem{
    position: absolute;
    width: 18%;
    top:41%;
    left:40%;
    z-index: 3;
}

.violet{
    z-index: 4;
}