#result-one{
    position: absolute;
    top: 17%;
    left: 37%;
    width: 26%;
    z-index: 2;
}

#result-two{
    position: absolute;
    top: 21%;
    left: 20%;
    width: 24%;
    z-index: 1;
}

#result-three{
    position: absolute;
    top: 21%;
    left: 57%;
    width: 24%;
    z-index: 1;
}

.percentage-circle{
    position: absolute;
    width: 30%;
    height: 25%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.percentage-circle > img{
    position: absolute;
    width: 100%;
    height: 100%;
}

#robot_showing_results{
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 38%;
    right: -15%;
    width: 25%;
}


.result-icon-slider{
    position: absolute;
    width: 95%;
    height: 15%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.background-card{
    width: 100%;
    height: 100%;
}

.result-icon-slider > img {
    position: absolute;
    width: 100%;
    height: 80%;
}

.results-card:hover {
    z-index: 5!important;
}

.button-fin{
    font-size: 1vw;
}

.splide__track{
    border-radius: 15%;
}

.button-end{
    position: absolute;
    width: 18%;
    height: 7%;
    left: 79%;
    top: 90%;
    z-index: 2;
    border: 0.3em solid #ffe9de;
    font-weight: bold;
}

.button-end:hover{
    color: #FFCDB6;
    background-color: #45396D;
    border: 0.2em solid #aba3ca;
}

.image-result-card{
    position: absolute;
    left: 50%;
    top: 45%;
    width: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.results-percentage{
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
}

.results-name{
    z-index: 4;
    left: 50%;
    top: 25%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    font-weight: bold;
}

.results-address{
    z-index: 4;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    text-align: left;
}

.results-access{
    z-index: 4;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    text-align: left;
}

.results-time{
    z-index: 4;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    text-align: left;
}

.results-location{
    z-index: 4;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    text-align: left;
    text-decoration: none!important;
}
