#oya-searching-results{
    position: absolute;
    top: 18%;
    left: 40%;
    z-index: 2;
}

#left-gear-eye{
    position: absolute;
    top: 41%;
    left: 48%;
    z-index: 2;
}


#right-gear-eye{
    position: absolute;
    top: 41%;
    left: 51%;
    z-index: 2;
}
