/* ------- Important ! Regardez bien à la fin de ce CSS pour des règles permettant de ----------- */
/* contraindre le format des slides affichés sur la page web */


/* normalisation des marges et padding pour simplifier le positionnement des éléments */
*{
    padding:0;
    margin:0;
}

/* ---------------------- Font -------------------------- */
/* mulish-regular - latin */
/*
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v1-latin-regular.eot');
    src: local(''),
    url('../fonts/mulish-v1-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mulish-v1-latin-regular.woff2') format('woff2'),
    url('../fonts/mulish-v1-latin-regular.woff') format('woff'),
    url('../fonts/mulish-v1-latin-regular.ttf') format('truetype'),
    url('../fonts/mulish-v1-latin-regular.svg#Mulish') format('svg');
}
*/
.font-s{font-size: 1.2vw!important;}
.font-button{font-size: 2vw!important;}


/* -------------------------- Colors -------------------------------- */
.white{color: white;}
.background-white{background-color: white;}

.black{color: black;}
.background-black{background-color: black;}

.beige{color: #FFCDB6;}
.background-beige{background-color: #FFCDB6}
.background-beige:disabled{background-color: #45396D}

.dark-beige{color:#ffa584;}
.background-dark-beige{background-color:#ffa584;}

.purple{color:#45396D}

/* ----------------------------------------------------------------------- */
/* button default style */
button{
    text-align: center;
    cursor: pointer;
    border: 0;
    border-radius: 0.5em;
    transition-duration: 0.3s;
    font-family: 'Mulish', serif;
    font-weight: bold;
}

/*default page */
.page{
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index:-1;
}

.hidden{
    display:none;
}
/* ----------------------------------------------------------------- */
body{
    overflow: hidden;   /* pour slidr dans certains navigateurs */
    font-family: 'Mulish', serif;
}

#container{
    position: relative; /* pour permettre le positionnement en absolu des autres éléments */
}

/* on fait en sorte que le slidr et les slides remplissent tout notre conteneur */
#slidr, #slidr section{
    background-color: white;
    width: 100%;
    height: 100%;
}

/* Pour que la vidéo remplisse son conteneur (elle sera un peu coupée si nécessaire...) */
.vjs-tech { object-fit: cover; }

/* ------------------------- Couleurs ----------------------------- */

/* ------------------------- Page Home ---------------------------- */
.button-begin{
    padding: 0.5em 1.5em;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.button-begin:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-next{
    padding: 0.5em 1.5em;
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.button-next:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* ------------------------- Page Address ---------------------------- */

/* Mes variables */
:root {
    --space-between-buttons: 1vw;
    --button-height:5vw;
    --button-width:22vw;
    --input-padding:1vw;
    --input-height:2vw;
    --label-height:2vw;
    --border-radius:1vw;
    --space-below-label:1.05vw;
    --label-total-height: calc(var(--label-height) + var(--space-below-label));

    --slider-width: 36vw;
    --slider-thumb-width: 3.5vw;
}

.addresses-main-buttons{
    position: relative;
    left: calc(62% - var(--button-width));
    top: calc(24%);
}

.label-address{
    font-size:2vw!important;
    height:var(--label-height);
    position:absolute;
    width: var(--button-width);
}

.input-address{
    font-size: 1.5vw!important;
    height: var(--input-height);
    border-radius: var(--border-radius);
    border: 2px solid #ffa584;
    padding: var(--input-padding);
    width: calc(var(--button-width) - var(--input-padding) * 2);
    position:absolute;
    top: var(--label-total-height);
}

.input-address:focus{
    outline: none;
}

.localize-icon{
    width: 2vw;
    position: absolute;
    left: 18vw;
    top: 1vw;
}

.loading-icon-white{
    width: 3vw;
    position: absolute;
    left: 18vw;
    top: 1vw;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.button-addresses{
    width: var(--button-width);
    height: var(--button-height);
    border-radius: var(--border-radius);
    position:absolute;
}

.button-first{
    top: calc(var(--button-height) + var(--space-between-buttons) + var(--label-total-height));
}

.button-second{
    top: calc((var(--button-height) + var(--space-between-buttons)) * 2 + var(--label-total-height));
}

.button-third{
    top: calc((var(--button-height) + var(--space-between-buttons)) * 3 + var(--label-total-height));
}

.pac-item:hover{
    background-color:#ffa584;
    color:white;
}

.addresses-slider{
    position: relative;
    left: calc(68% - var(--slider-width));
    top: calc(76%);
    height: 6vw;
    width: calc(var(--slider-width));
}

#localize-range{
    position: absolute;
    width: var(--slider-width);
    height: 0.3vw;
    -webkit-appearance: none;
    background-color: #FFCDB6;
    border-radius: 8px;
    top: 1.8vw
}

#localize-range:focus{
    outline: none;
}

#localize-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-width);
    border: 0;
    background: url(../img/slider.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

}

#localize-range::-moz-range-thumb {
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-width);
    border: 0;
    background: url(../img/slider.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.slider-legend{
    font-size:2.1vw;
    position:absolute;
    top:3.7vw;
    color:#45396D;
}

.slider-legend-center{
    left:15vw;
}

.slider-legend-right{
    left:29vw;
}



/* ---------- mise en forme du bandeau des logos ----------------- */
/* ici comme on doit contraindre la hauteur des images (et non leur largeur) */
/* on ne peut pas utiliser de taille en % on utilise donc des em (qui sont définis */
/* comme proportiels à la tailles des slides grace à nos règles plus bas */
/* (cf. fondt-size du body) */

#bandeau {
    padding-top: 3%;
    width:100%;
    height:17%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 20%;
    z-index: -1;
  }

  #bandeau li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
  }


  #bandeau img{
    height: 2em;
  }

  #bandeau #hyblab{
    margin: 0.5em 3em;
    height: 3em;
    float: left;
  }

  #bandeau #cc, #bandeau #opensource
  {
    height: 1em;
  }

  #bandeau .stacked{
    display:block;
  }

  #bandeau ul{
    text-align: center;
    padding: 0 0;
  }

  #bandeau .institutionnel
  {
    height: 2em;
  }

/* ---------- media queries importantes pour le responsive facile :-D ----------------- */
/* Vous pouvez bien sûr l'adapter pour d'autres ratio que 16:9 */

/* Cette media query permet de s'assurer qu'on remplit toujours la largeur de la fenêtre, 
tant qu'on est en dessous de l'apect ratio 16/9 */
@media screen and (max-aspect-ratio: 16/9){
    #container{
        margin-top: calc((100vh - 100 * 9vw / 16) / 2);
        width: 100vw;
        height: calc(100 * 9vw / 16);
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes 
    les autres tailles de police. Celle-ci est proportionelle à la largeur ici. */
    body{
        font-size: 9vw;
    }
}

/* Cette media query permet de s'assurer qu'on remplit toujours la hauteur de la fenêtre, quand on est au 
dessus de l'apect ratio 16/9 */
@media screen and (min-aspect-ratio: 16/9){
    #container{
        margin-left: calc((100vw - 100 * 16vh / 9) / 2);
        width: calc(100 * 16vh / 9);
        height: 100vh;
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes 
    les autres tailles de police. Celle-ci est proportionelle à la hauteur ici. */
    body{
        font-size: 16vh;
    }
}