.leaflet-container {
    width: 100%;
    height: 100vh;
    z-index: 0;
}



.leaflet-bottom {
    visibility: hidden;
}


#containerInterraction{
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: white;
    padding: 20px;
    z-index: 2;
    border-radius: 30px;
    max-width: 100%;
    width: 80%;
}
#containerInterractionLeftSection{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#textInterractionIntro{
    width: 70%;
    background-color: mediumpurple;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

#containerInterractionLeftUpperSection{
    width: 100%;
}

.titlePhase2Section{
    font-weight: bold;
    color: #8356db;
}

#containerInterractionLogo{
    width: 130px;
    position: relative;
    bottom: 20px;
    right: 60px;
}
#containerInterractionLogoPersonnage{
    width: 130px;
}

#containerInterractionRightSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerChoice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgChoice{
    max-height: 150px;
    object-fit: cover;
}
h5{
    font-weight: bold
}
.h3Purple{
    color: mediumpurple;
    font-weight: bold;
    text-transform: uppercase;
}
.btnPurple{
    background-color: mediumpurple;
}

.btnPurple:hover{
    background-color: #8356db;
}

/*Phase 2*/
#containerInterraction2{
    position: absolute;
    top: 10%;
    left: 2%;
    background-color: white;
    padding: 20px;
    z-index: 2;
    border-radius: 30px;
}

.phase2Top{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

hr{
    background-color: mediumpurple;
}
.phase2TopLeft{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sectionReduire{
    width: 100%;
    display: flex;
    justify-content: center;
}
.imgPictogram{
    width: 50px !important;
    height: 50px !important;
    padding: 3px;
    border-radius: 100%;
}
#containerPictograms{
    height: 200px;
    overflow-y: scroll;
    scrollbar-color: #8356db rgba(131, 86, 219, 0.09);
    scrollbar-width: thin;
}

input[type=radio]:checked + label>img {
    box-shadow: 0 0 3px 3px #8356db;
}
input[type=radio] + label>img {
    width: 150px;
    height: 150px;
    transition: 500ms all;
}
