#homeContainer{
    height: 100%;
    background-image: none;
    display: flex;
}
#logo{
    margin-top: 5%;
    top: 20%;
    width: 25%;
    height: auto;
    top: 0px;
}

#paragraphe{
    max-width: 600px;
}

h4{
    color: #756EFF;
}


#homeContainer input[type=text]{
    height: 70px;
    background: #FFFFFF;
    font-size: 25px;
    border: 2px solid #756EFF;
    box-sizing: border-box;
    border-radius: 30px;
    text-align: center;
    color: #756EFF;
}

#homeContainer input[type=text]::placeholder{
    color:  #756EFF;
}

#homeContainer input:focus{
    outline:none;
}

#homeContainer input[type=button]{

    padding: 0 35px 0 35px;
    height: 50px;
    background: #756EFF;
    box-sizing: border-box;
    border: 2px solid #756EFF;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
}

#credits{
    position: absolute;
    bottom: 55px;
    right: 85px;
    background-color: white !important;
    color: #756EFF !important;
}