@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


#MoyenContainer{
    height: 100%;
    background-image: url('../img/illus-paged\'accueil-hyblab-ok-06.png');
    background-size: 50%;
    background-position: bottom -40% right 30%;
    background-repeat: no-repeat;
    z-index: -2;
    padding: 0;
}

#logoCorner{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 150px;
}
#MoyenContainer #Theme{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 74px 74px 0px;
    height: 100%;
    width: 40%;
    background-color: #ffffff;
    left:0;
    width: 30%;
}

#MoyenContainer#Theme span{
    width: 50%;
}
#MoyenContainer #containerLocalisation{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#MoyenContainer #Localisation{
    height: 100%;
    width: 100%;
    background-color: #756EFF;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0 26px 26px 0;
}
#MoyenContainer #Localisation img{
    width: 40px;
    height: 50px;
}
#MoyenContainer #Moyen{
    color: #756EFF;
    width: 70%;
}

.btnNavigation{
    width: 50px;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}
#MoyenContainer #changepage p{
    margin: 0;
    opacity: 0;
    transition: 500ms all;
}
#MoyenContainer #changepage:hover p{
    margin: 0;
    opacity: 1;
    transition: 400ms all;
}

#MoyenContainer #changepage input{
    background-color: Transparent;
    border: 2px solid #756EFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor:pointer;
    color: #756EFF;
}

#MoyenContainer input[type=radio]:checked + label>img {
    background-size: 100%;
    opacity: 1;
}

#MoyenContainer input[type=radio] + label>img {
    width: 120px;
    height: 120px;
    transition: 500ms all;
    padding: 10%;
    background-size:0%;
    background-position: center;
    background-repeat : no-repeat;
    opacity: 0.5;

}

#MoyenContainer input[type=radio] + label>img:hover{
     background-repeat : no-repeat;
     transform: scale(1.1);
     background-size: 100%;
     opacity: 1;
     transition: 400ms all;

}

#MoyenContainer #changepage input[type=button]:disabled{
    opacity: 0.5;
}

#MoyenContainer #changepage:hover input[type=button]:disabled + p{
    opacity: 0.5;
}

#MoyenContainer #valide:disabled{
    opacity: 0.5;
}

@media screen and (max-width: 900px)
{
    #MoyenContainer{
        flex-direction: column !important;
    }
    #MoyenContainer #Theme{
        width: 100%;
        border-radius: 0px 0px 74px 74px;
        padding: 15px;
    }
    #MoyenContainer #containerLocalisation{
       display: none;
    }
    #Moyen{
        width: 100%;
    }
}



.btnNavigationAttributPurple{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #756EFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #756EFF;
    margin: 0 30px 0 30px;
    cursor: pointer;
    background-color: white;
}

.btnNavigationAttributPurple:hover{
    border: none;
    color: white;
    background-color: #756EFF;
    transition: .5s;
}
.selection img{
    cursor: pointer;
}

