#themeContainer{
    height: 100%;
}

.btnNavigation{
    width: 50px;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    box-shadow: 0 0 3px 3px #fcfff3;
}

/* Stuff after this is only to make things more pretty */
h3 {
    color:#756EFF;
    font-weight: bold;
    padding-bottom: 50px;
}

div + span {
    border-radius: 20px;
    background-color: #BCBEFF;
    font-size: 15px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 80px;
    margin-bottom: 40px;
}

span + input {
    border: none;
    border-radius: 10px;
    background-color: #756EFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

#themeSelector div div div label img {
    width: 250px;
    height: 250px;
    transition: 500ms all;
}

#themeSelector div div div label img[class="img_hte"] {
    margin-bottom: 150px;
}

#themeSelector div div div label img[class="img_bas"] {
    margin-top: 150px;
}

.col {
    padding: 0;
}

#themeSelector {
    margin-bottom: 50px;
}