div#adresses_content {
    background-image: url('/proximite-b/img/adresses/Pop-up.svg');
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

#adresse1 {
    position: absolute;
    top: 55%;
    left: 40%;
}

#adresse2 {
    position: absolute;
    top: 65%;
    left: 40%;
}

#go_bouton {
    position: absolute;
    top: 75%;
    left: 40%;
}

.liste_adresses{
    width: 500px;
    background-color: gray;
}

.bouton_adresse{
    border: none;
    width: 500px;
    text-align: left;
}
