#adresses_background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    z-index: -3;
}

#body_popup_adresse {
    background-color: #BFE3EE;
}

#pop-up-adresse .modal-content {
    border: none;
    background-color: transparent;
}

#head_popup_adresse {
    background-image: url('../img/adresses/pop-up-feuilles.svg') !important;
    background-repeat: no-repeat;
    border-radius: 0 none;
    background-position-x: center;
    border: none;
    height: 13em;
}

#body_popup_adresse {
    border-radius: 4em !important;
    color: white;
    height: 25em;
    border: none;
    background-image: url('../img/adresses/feuilles-bottom.svg') !important;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 70%;
    background-position-x: center;
}

#adresse1 {
    width: 50%;
    background-image: url('../img/adresses/picto-local.svg');
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position-y: center;
    background-position-x: 0.2em;
    margin-top: 4.5em;
    z-index: 100;
    position: inherit;
}

#adresse2 {
    width: 50%;
    background-image: url('../img/adresses/picto-local.svg');
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position-y: center;
    background-position-x: 0.2em;
    margin-top: 2.5em;
    z-index: 100;
    position: inherit;
}

#papi_bulle {
    position: absolute;
    left: -7%;
    width: 17vw;
    height: auto;
    z-index: 50;
}

#pop-up-adresse .liste_adresses {
    background-color: #E5E5E4;
    border-radius: 15px;
    z-index: 9999;
}

#adresses1, #adresses2 {
    position: absolute;
    width: 50%;
    right: 25%;
}

#go_bouton {
    margin-top: 5em;
}

#pop-up-adresse .bouton_adresse {
    border: none;
    width: 100%;
    text-align: left;
    border-radius: 15px;
    background-color: transparent;
    margin: 5px;
}

@media screen and (min-resolution: 100dpi) {
    #papi_bulle {
        width: 22vw;
    }
}