div#adresses_content {
    background-image: url('/proximite-b/img/adresses/Pop-up.svg');
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

#adresse1 {
    position: absolute;
    top: 50%;
    left: 41%;
    background-image: url('/proximite-b/img/adresses/picto-local.svg');
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position-y: center;
    background-position-x: 0.2em;
}

#adresses1 {
    position: absolute;
    top: 55%;
    left: 41%;
}

#adresse2 {
    position: absolute;
    top: 60%;
    left: 41%;
    background-image: url('/proximite-b/img/adresses/picto-local.svg');
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position-y: center;
    background-position-x: 0.2em;
}

#adresses2 {
    position: absolute;
    top: 65%;
    left: 41%;
}

#go_bouton {
    position: absolute;
    top: 75%;
    left: 44%;
    width: 7em;
    height: 2em;
}

.liste_adresses {
    width: 400px;
    background-color: #E5E5E4;
    border-radius: 15px;
    z-index: 9999;
}

.bouton_adresse {
    border: none;
    width: 100%;
    text-align: left;
    border-radius: 15px;
    background-color: transparent;
    margin: 5px;
}
