#animation_background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    z-index: -3;
}

#nantes_panel{
    width: 100%;
    position: relative;
}
#animation_suivant_button{
    position: absolute;
    width: 10%;
    height: 5%;
    left : 45%;
    top : 40%
}
#animation_content{
    overflow:hidden;
}

#train{
    position: absolute;
    width: 150vw;
    height: auto;
    animation-delay: 1s;
    animation-duration: 8s;
    animation-name: slidein;
    left: -50%;
    top: -20%;
    z-index: -2;
  }
  
#animation_img{
    position: absolute;
    width: auto;
    height: 62vh;
    z-index: 2;
}

.contain_persona {
    position: relative;
    height: 100%;
    width: 100%;
}

#img_persona{
    height: 75vh;
}

.contain_persona img {
    position: absolute;
    bottom: 8vh;
    left: 10vw;
}

  @keyframes slidein {
    from {
      left: -50%;
    }
  
    to {
      left: 200%;
    }
  }
  