div#critere_page {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

#sortable1{
    position: absolute;
    left: 10%;
    /*border: 1px solid #000;*/
    width: 1600px;
    min-height: 40px;
    list-style-type: none;
    margin: 0;
    float: left;
    margin-right: 10px;
    top : 6%;
}
#sortable2 {
    /*border: 1px solid #000;*/
    width: 440px;
    min-height: 300px;
    list-style-type: none;
    margin: 0;
    padding: 15px 10px 15px 30px;
    margin-right: 10px;
    position: absolute;;
    top:20%;
    left: 26%;
}

#sortable3 {
    /*border: 1px solid #000;*/
    width: 440px;
    min-height: 300px;
    list-style-type: none;
    margin: 0;
    padding: 15px 10px 15px 30px;
    margin-right: 10px;
    position: absolute;;
    top:20%;
    left: 50.5%;
}

#critere_page li{
    width: 180px !important;
}

#sortable1 li,#sortable2 li, #sortable3 li{
    text-align: center;
    margin: 5px;
    padding: 10px;
    font-size: 1.2em;

}

#sortable1 li{
    display:inline-block;
}

#critere_page button{
    position: absolute;
    width: 200px;
    left: 45%;
    top: 60%;
    height: 50px;
    font-size: 20px;
}
