div#critere_page {
    background-image: url('/proximite-b/img/criteres/fond.svg#svgView(preserveAspectRatio(none))');
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#container_custom{
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 4em;
}

#container_persos .row{
    margin: 0;
}

#greeters{
    width: 16vw;
    height: auto;
    bottom: 0;
    position: fixed;
    right: 15em;
}

#jeune{
    width: 19vw;
    height: auto;
    bottom: 0;
    position: fixed;
    left: 10em;
}

#famille{
    width: 30vw;
    height: auto;
    bottom: 0;
    position: fixed;
    left:10em;
}

#senior{
    width: 15vw;
    height: auto;
    bottom: 0;
    position: fixed;
    left:10em;
}

#sortable1, #sortable2, #sortable3{
    position: relative;
    border-radius: 45px;
    list-style-type: none;
    width: 100%;
}

#sortable1{
    height: 5em;
    min-height: 70%;
    padding-top: 2em;
}
#sortable2 {
    background-color: #0C7AA0;
    height: 100%;
    min-height: 15em;
    padding: 15px;

}

#sortable3 {
    background-color: #ffd044;
    min-height: 15em;
    padding: 15px;
}

#sort2, #sort3{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 15px 0px 0px 0px;
    position: relative;
    position: relative;
    border-radius: 45px;
    margin-right: 10px;
    margin-top: 4em;
}

#sort2 {
    background-color: #bde1ed;
    height: 23em;
    max-height: 85%;
    margin-right: 10px;
    margin-top: 4em;
}

#sort3{
    background-color: #ffdf8f;
    height: 60%;
}

.criteres{
    width: 200px !important;
    /* display:inline-block;  2 col parfois */
}

#sortable3 .criteres, #sortable2 .criteres  {
    width: 70% !important;

}


#sortable1 li,#sortable2 li, #sortable3 li{
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

#sortable2 li, #sortable3 li{
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.8);
    display:table;
    margin: 10px auto 10px auto;
}


#sortable1 li{
    display:inline-block;
    margin: 5px 0px 5px 0px;

}

#consigne{
    padding: 20px 5px 20px 5px;
    background-color: #E3572C;
    width: 100%;
    margin-bottom: 5%;
    border-radius: 30px;
}

#consigne p{
    color: white;
    margin-bottom: 0;
}


#proche, #loin{
    padding-bottom: 0;
    font-family: ArchitectDaughter;
}

#loin{
    width:100%;
}

.critere_button {
    color: white;
    border: none;
    border-radius: 15px;
    font-family: ArchitectDaughter;
}

ul#sortable1{
    padding: 0;
}

#critere_page #valider{
    width: 200px;
    position: relative;
    height: 50px;
    font-size: 20px;
}

.criteres:before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}


.div_sort2{
    background-color: #2a325a;
    border-radius: 15px;
    z-index: 100;
    position: relative;
    list-style-type: none;
}

#criteres li{
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.8);
    display:table;
    margin: 10px auto 10px auto;
}

