@font-face {
    font-family: 'Montserrat';
    src: url('/proximite-b/fonts/Montserrat-Light.otf');
}

@font-face {
    font-family: 'ArchitectDaughter';
    src: url('/proximite-b/fonts/ArchitectsDaughter.ttf');
}

div#app {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Montserrat;
}

/* Cette media query permet de s'assurer qu'on remplit toujours la largeur de la fenêtre, 
 * tant qu'on est en dessous de l'apect ratio 16/9
 */

@media screen and (max-aspect-ratio: 16/9) {
    #app {
        margin-top: calc((100vh - 100 * 9vw / 16) / 2);
        width: 100vw;
        height: calc(100 * 9vw / 16);
    }
    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes 
     *     les autres tailles de police. Celle-ci est proportionelle à la largeur ici.
     */
    body {
        font-size: 9vw;
    }
}

/* Cette media query permet de s'assurer qu'on remplit toujours la hauteur de la fenêtre, quand on est au 
 * dessus de l'apect ratio 16/9
 */

@media screen and (min-aspect-ratio: 16/9) {
    #app {
        margin-left: calc((100vw - 100 * 16vh / 9) / 2);
        width: calc(100 * 16vh / 9);
        height: 100vh;
    }
    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes 
     *     les autres tailles de police. Celle-ci est proportionelle à la hauteur ici.
     */
    body {
        font-size: 16vh;
    }
}

.figma_color_blue {
    color: #2A315B;
}

.figma_bg_darkblue {
    background-color: #2A315B;
}

.figma_bg_orange {
    background-color: #E3572C;
}

.figma_bg_yellow {
    background-color: #F3B800;
}

.figma_bg_blue {
    background-color: #77bfd4;
}

.figma_button {
    color: white;
    border: none;
    border-radius: 15px;
    font-family: ArchitectDaughter;
}

.figma_input_txt {
    background-radius: 15px;
    font-family: ArchitectDaughter;
    color: #444444;
    border: none;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 2em;
    width: 25em;
}

.figma_button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}