#startButton {
    text-align: center;
    width: 50%;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    margin-top: calc(4.5% * 9 / 16);
    /* les marges sont exprimées en % de la largeur... :-( */
    position: absolute;
    font-size: 50%;
    cursor: pointer;
}