.infoVehicule {
    color: black;
    font-family: lemon-juice;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 28%;
    text-align: center;
}

.orange-highlight {
    color: #F98E12;
}

.orange-test {
    color: #FFC03E;
}

.choisis_ton_moyen_de_transport
{
    font-family: lemon-juice;
    color: #F98E12;
    font-size: 50%;
    user-select: none;
}

.info-illu
{
    display: flex;
    justify-content: center;
    width : 100%;
}

.info_title
{
    font-family: lemon-juice;
    color: #F98E12;
    font-size: 48%;
    user-select: none;
}

.close-button
{
    right: 20px;
    position: absolute;
    top: 20px;
}

.close-btn-velo
{

}

.info-page{
   /*max-width: 1440px;*/
    margin-left: auto;
    margin-right: auto;
}

