.map-wrapper{
    background-color: transparent;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#map-large{
    min-height: 28rem;
    min-width: 45rem;
    border: .3rem solid gray;
    border-radius: .5rem;
}

.awesome-marker svg {
    font-size: 15px;
    margin-top: 8px;
}
