/* ------- Important ! Regardez bien à la fin de ce CSS pour des règles permettant de ----------- */

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* contraindre le format des slides affichés sur la page web */


/* normalisation des marges et padding pour simplifier le positionnement des éléments */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color: white;
    overflow: hidden;
    /* pour slidr dans certains navigateurs */
}

#container {
    position: relative;
    /* pour permettre le positionnement en absolu des autres éléments */
}

@font-face {
    font-family: lemon-juice;
    src: url(../fonts/lemon-juice.otf);
}

.content {
    font-family: lemon-juice;
}


/* on fait en sorte que le slidr et les slides remplissent tout notre conteneur */

#slidr,
#slidr section {
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


/* pour le positionnement facile, on place tout en absolue et on exprime tout en % */

#titre {
    text-align: center;
    width: 20%;
    left: 30%;
    top: 10%;
    position: absolute;
    font-size: 30%;
    color: black;
}

/* on centre l'image de fin */

#img-fini {
    width: 50%;
    left: 50%;
    top: 40%;
    position: absolute;
    margin-left: -25%;
    margin-top: calc(-25% * 9 / 16);
    /* les marges sont exprimées en % de la largeur... :-( */
}

/* Pour que la vidéo remplisse son conteneur (elle sera un peu coupée si nécessaire...) */

.vjs-tech {
    object-fit: cover;
}


/* dernier slide sur fond blanc */

section[data-slidr="page-finale"] {
    background-color: white;
}


/* ---------- mise en forme du bandeau des logos ----------------- */


/* ici comme on doit contraindre la hauteur des images (et non leur largeur) */


/* on ne peut pas utiliser de taille en % on utilise donc des em (qui sont définis */


/* comme proportiels à la tailles des slides grace à nos règles plus bas */


/* (cf. fondt-size du body) */

#bandeau {
    padding-top: 3%;
    width: 100%;
    height: 17%;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 20%;
    z-index: -1;
}

#bandeau li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
}

#bandeau img {
    height: 2em;
}

#bandeau #hyblab {
    margin: 0.5em 3em;
    height: 3em;
    float: left;
}

#bandeau #cc,
#bandeau #opensource {
    height: 1em;
}

#bandeau .stacked {
    display: block;
}

#bandeau ul {
    text-align: center;
    padding: 0 0;
}

#bandeau .institutionnel {
    height: 2em;
}

/* ------------ Style des boutons ------------ */

.fancy-button {
    border: solid 5px white;

    padding: 0px 2rem;
    margin: 0 2rem;

    font-size: 5vw;
    text-align: center;

    color: white;
    background-color: #f98e12;
    font-family: lemon-juice;

    cursor: pointer;
    user-select: none;
}


/* ------------ Style des titres ------------ */


.fancy-title {
    max-width: 350px;
    border: solid 5px white;

    padding: 1rem 2rem;

    font-size: 4vw;
    text-align: center;
    line-height: 3rem;

    color: white;
    background-color: #f98e12;
    font-family: lemon-juice;

    display: flex;
    flex-wrap: wrap;
}

/* -------------- Mettre des éléments en background --------------*/
.background-index {
    z-index: -10;
}

/* ---------- media queries importantes pour le responsive facile :-D ----------------- */

/* Vous pouvez bien sûr l'adapter pour d'autres ratio que 16:9 */

/* Cette media query permet de s'assurer qu'on remplit toujours la largeur de la fenêtre,
tant qu'on est en dessous de l'apect ratio 16/9 */

@media screen and (max-aspect-ratio: 16/9) {
    #container {
        margin-top: calc((100vh - 100 * 9vw / 16) / 2);
        width: 100vw;
        height: calc(100 * 9vw / 16);
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la largeur ici. */
    body {
        font-size: 9vw;
    }
}

/* Cette media query permet de s'assurer qu'on remplit toujours la hauteur de la fenêtre, quand on est au 
dessus de l'apect ratio 16/9 */

@media screen and (min-aspect-ratio: 16/9) {
    #container {
        margin-left: calc((100vw - 100 * 16vh / 9) / 2);
        width: calc(100 * 16vh / 9);
        height: 100vh;
    }

    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la hauteur ici. */
    body {
        font-size: 16vh;
    }
}
