/* VOTRE ENFANT EST-IL UN P'TIT AVENTURIER ? - PAGE 3 */
section[data-slidr="page-3"] {
    background: linear-gradient(90.42deg, #6FB5EF 26.39%, #3391DE 82.69%);
    overflow: hidden;
}

#logo-p3 {
    position: absolute;
    width: 6%;
    bottom: 85%;
    right: 5%;
}

#texte-gauche-p3 {
    position: absolute;
    width: 5%;
    bottom: 25%;
    right: 60%;
}
#texte-gauche-p3:hover {
    position: absolute;
    width: 7%;
    bottom: 25%;
    right: 60%;
}
#bouton-gauche-p3 {
    position: absolute;
    width: 25%;
    bottom: 24.4%;
    right: 49.6%;
    opacity: 0.7;
}

#bouton-gauche-p3:hover {
    opacity: 1;
}

#texte-droite-p3 {
    position: absolute;
    width: 6%;
    bottom: 25%;
    right: 36%;
}
#bouton-droite-p3 {
    position: absolute;
    width: 17%;
    bottom: 34%;
    right: 30%;
    opacity: 0.7;
}

#bouton-droite-p3:hover {
    opacity: 1;
}

#question-p3 {
    position: absolute;
    width: 45%;
    bottom: 68%;
    right: 28%;
}

#arbuste-vert-p3 {
    position: absolute;
    width: 15%;
    bottom: 6%;
    left: 8%;
    transform: rotate(
            5deg
    );
}

#feuille-verte-p3 {
    position: absolute;
    width: 15%;
    bottom: 5%;
    right: 25%;
}

#arbuste-bleu-p3 {
    position: absolute;
    width: 27%;
    bottom: 7%;
    right: 5%;
}

#arbre-jaune-p3 {
    position: absolute;
    width: 17%;
    bottom: 11%;
    right: 5%;
}

#arbre-jaune-p3:hover {
    /*transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);*/
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#arbre-rouge-p3 {
    position: absolute;
    width: 14%;
    bottom: 13%;
    left: 4%;
    transform: scale(1) translateY(0%);
    transition-property: transform;
    transition-duration: 1000ms;
}

#arbre-rouge-p3:hover {
    transform: scale(1.1) translateY(-5%);
}

#gros-nuage-p3 {
    position: absolute;
    width: 30%;
    top: 13%;
    right: 62%;
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 1000ms;
}

#gros-nuage-p3:hover {
    transform: translateX(30%);
}

#dune2-p3 {
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 4%;
    height: 12%;
}

#feuille-rouge-p3 {
    position: absolute;
    width: 11%;
    bottom: 10%;
    right: 4%;
}

#feuille-bleue-p3 {
    position: absolute;
    width: 10%;
    bottom: 7%;
    right: 76%;
}

#pelouse-gauche-p3 {
    position: absolute;
    width: 36.5%;
    bottom: 0%;
    left: 0%;
}

#pelouse-droite-p3 {
    position: absolute;
    width: 27.5%;
    bottom: 0%;
    right: 0%;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}



