/* Stylesheet page 5 */
section[data-slidr="page-5"] {
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #0574CF, #0574CF);
    overflow: hidden;
}

#logo-p5 {
    position: absolute;
    width: 6%;
    bottom: 85%;
    right: 5%;
}

#dune4-p5 {
    position: absolute;
    bottom: 0%;
    left: 15%;
    width: 85%;
}

#pelouse-droite-p5 {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 27.5%;
}

#pelouse-gauche-p5 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 36.5%;
}

#gros-nuage-p5 {
    position: absolute;
    top: 16%;
    left: 10%;
    width: 25%;
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 1000ms;
}

#gros-nuage-p5:hover {
    transform: translateX(30%);
}

#arbuste-vert-p5 {
    position: absolute;
    bottom: 9%;
    right: 8%;
    width: 20%;
    transform: rotate(352deg);
}

#arbre-rouge-p5 {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 18%;
    transform: scale(1) translateY(0%);
    transition-property: transform;
    transition-duration: 1000ms;
}

#arbre-rouge-p5:hover {
    transform: scale(1.1) translateY(-5%);
}

#arbuste-bleu-nuage-p5 {
    position: absolute;
    width: 18%;
    bottom: 3%;
    left: 10%;
    transform: rotate(15deg);
}

#feuille-verte-p5 {
    position: absolute;
    width: 15%;
    bottom: 8%;
    left: 5%;
}

#feuille-verte-p5:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#question-p5 {
    position: absolute;
    top: 22%;
    left: 37%;
    width: 27%;
}

#button-gauche-p5 {
    position: absolute;
    width: 20%;
    top: 32%;
    left: 25%;
    opacity: 0.7;
}

#button-gauche-p5:hover {
    opacity: 1;
}

#texte-gauche-p5 {
    position: absolute;
    width: 20%;
    bottom: 20%;
    left: 26%;
}

#button-droite-p5 {
    position: absolute;
    width: 20%;
    top: 32%;
    right: 26%;
    opacity: 0.7;
}

#button-droite-p5:hover {
    opacity: 1;
}

#texte-droite-p5 {
    position: absolute;
    width: 20%;
    bottom: 20%;
    right: 25%;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}