/* Stylesheet page 7 */
section[data-slidr="page-7"] {
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg,
    #0574CF,
    #0574CF);
}

#logo-p7 {
    position: absolute;
    width: 6%;
    bottom: 85%;
    right: 5%;
}

#dune3-p7 {
    position: absolute;
    width: 100%;
    bottom: 0%;
}

#pelouse-gauche-p7 {
    position: absolute;
    width: 30%;
    bottom: 0%;
    left: 0%;
}

#pelouse-droite-p7 {
    position: absolute;
    width: 30%;
    bottom: 0%;
    right: 0%;
}

#arbuste-bleu-p7 {
    position: absolute;
    width: 17%;
    bottom: 0%;
    right: 15%;
}

#feuille-rouge-p7 {
    position: absolute;
    width: 15%;
    bottom: 0%;
    right: 8%;
}

#arbuste-vert-p7 {
    position: absolute;
    width: 25%;
    bottom: 5%;
    left: 5%;
    transform: rotate(10deg);
}

#feuille-orange-p7 {
    position: absolute;
    width: 10%;
    bottom: 5%;
    left: 5%;
}

#feuille-bleue-p7 {
    position: absolute;
    width: 10%;
    bottom: 0%;
    left: 22%;
}

#petit-nuage-p7 {
    position: absolute;
    width: 20%;
    top: 15%;
    left: 5%;
}

#gros-nuage-p7 {
    position: absolute;
    width: 20%;
    top: 5%;
    right: 20%;
}

#bouton-gauche-p7 {
    position: absolute;
    width: 20%;
    left: 25%;
    bottom: 30%;
}

#texte-gauche-p7 {
    position: absolute;
    width: 11%;
    bottom: 20%;
    left: 32%;
}

#bouton-droite-p7{
    position: absolute;
    width: 20%;
    right: 30%;
    bottom: 30%;
}

#texte-droite-p7 {
    position: absolute;
    width: 15%;
    bottom: 20%;
    right: 35%;
}

#question-p7 {
    position: absolute;
    width: 30%;
    top: 28%;
    left: 32%;
}