/* PAGE 10 */
section[data-slidr="page-10"] {
    /* fond */
    position: absolute;
    background: #171EB1;
    overflow: hidden;
}

#logo-p10 {
    /* logo */
    position: absolute;
    width: 6%;
    bottom: 85%;
    right: 5%;
}

#dune2-p10 {
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
}

#gros-nuage-p10 {
    position: absolute;
    width: 25%;
    top: 33%;
    left: 15%;
}

#petit-nuage-p10 {
    position: absolute;
    width: 17%;
    top: 23%;
    left: 5%;
}

#pelouse-droite-p10 {
    position: absolute;
    width: 27.5%;
    right: 0%;
    bottom: 0%;
}

#pelouse-gauche-p10 {
    position: absolute;
    width: 36.5%;
    left: 0%;
    bottom: 0%;
}

#arbre-jaune-p10 {
    position: absolute;
    width: 15%;
    bottom: 13%;
    left: 2%;
}

#arbuste-rouge-p10 {
    position: absolute;
    width: 18%;
    right: 0%;
    bottom: 5%;
}

#feuille-verte-p10 {
    position: absolute;
    width: 15%;
    bottom: 9%;
    right: 2%;
}

#feuille-bleue2-p10 {
    position: absolute;
    width: 11%;
    right: 65%;
    bottom: 3%;
}

#question-p10 {
    position: absolute;
    width: 25%;
    top: 25%;
    left: 25%;
}

#centre-contour-p10 {
    position: absolute;
    width: 12%;
    right: 23%;
    top: 46.4%;
    transform: rotate(
            1deg
    );
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

#centre-hover-p10 {
    width: 15%;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

#nord-est-contour-p10 {
    position: absolute;
    width: 20%;
    right: 16%;
    top: 20%;
    transform: rotate(
            1deg
    );
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

#nord-est-hover-p10 {
    width: 15%;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

#ouest-contour-p10 {
    position: absolute;
    width: 12.8%;
    right: 33.2%;
    top: 46.8%;
    transform: rotate(
            364deg
    );
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

#ouest-hover-p10 {
    width: 15%;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}

#sud-contour-p10 {
    position: absolute;
    width: 15%;
    right: 21.5%;
    top: 56%;
    transform: rotate(
            362deg
    );
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    rotate: revert;
}

#sud-hover-p10 {
    width: 15%;
}

#bouton-peu-importe-p10 {
    position: absolute;
    width: 15%;
    bottom: 50%;
    left: 30%;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

#bouton-peu-importe-p10:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}
