/* PAGE 2.1 */
section[data-slidr="page-2"] {
    background: linear-gradient(90.42deg, #0574CF 13.84%, #6FB5EF 76.59%);
    overflow: hidden;
}

#arbre-bleu-p2-1 {
    position: absolute;
    bottom: 15%;
    right: 10%;
    width: 40%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
}

#arbre-bleu-p2-1:hover {
    transform: scale(1.1);
}

#mascotte-p2-1 {
    position: absolute;
    bottom: -12%;
    left: -2%;
    width: 35%;
    transform: translateY(0%);
    transition-property: transform;
    transition-duration: 2000ms;
}

#mascotte-p2-1:hover {
    transform: translateY(-15%);
}

#nuage-p2-1 {
    position: absolute;
    top: 25%;
    width: 15%;
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 1000ms;
}

#nuage-p2-1:hover {
    transform: translateX(-60%);
}

#gros_nuage-p2-1 {
    position: absolute;
    top: -5%;
    width: 30%;
    left: 15%;
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 1000ms;
}

#gros_nuage-p2-1:hover {
    transform: translateX(30%);
}

#pelouse-p2-1 {
    position: absolute;
    width: 30%;
    right: 0%;
    bottom: 0%;
}

#pelouse_gauche-p2-1 {
    position: absolute;
    width: 6.5%;
    bottom: 0%;
    left: 0%;
}

#arbuste_bleu-p2-1 {
    position: absolute;
    bottom: 9%;
    right: 12%;
    transform: rotate(353deg);
    width: 45%;
}

#double_feuille_verte-p2-1 {
    position: absolute;
    bottom: 11%;
    right: 35%;
    width: 15%;
    transform: rotate(350deg);
}

#arbuste_vert-p2-1 {
    position: absolute;
    bottom: 10%;
    right: 11%;
    width: 32%;
}

#arbre_jaune-p2-1 {
    position: absolute;
    bottom: 12%;
    right: 0%;
    width: 25%;
    transform: scale(1) translateY(0%);
    transition-property: transform;
    transition-duration: 1000ms;
}

#arbre_jaune-p2-1:hover {
    transform: scale(0.9) translateY(5%);
}

#chaise-p2-1 {
    position: absolute;
    bottom: 3%;
    left: 42%;
    width: 15%;
}

#chaise-p2-1:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#vector-p2-1 {
    position: absolute;
    width: 25%;
    bottom: 40%;
    left: 25%;
}

#logo-p2-1 {
    position: absolute;
    width: 6%;
    bottom: 85%;
    right: 5%;
}

#dune-p2-1 {
    position: absolute;
    width: 100%;
    bottom: -1%;
    height: 17%;
}

/* Element qui disparaisse */
#texte-p2-1 {
    position: absolute;
    width: 20%;
    left: 25%;
    top: 42%;
}

#button-p2-1 {
    /* Position */
    position: absolute;
    width: 3%;
    left: 52%;
    top: 46%;
    /* Design */
    border-radius: 100%;
    outline: none;
}

/* elements qui apparaissent */
#appear {
    opacity: 0 ;
}
#texte2-p2-1 {
    position: absolute;
    width: 28%;
    left: 20%;
    top: 27%;
}

#button2-p2-2 {
    /* Position */
    position: absolute;
    width: 18%;
    left: 34%;
    top: 63%;
    /* Design */
    border-radius: 10%;
    outline: none;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes slidein {
    10%, 90% {
        transform: translateX(1%);
    }
}