/* PAGE 6 */
section[data-slidr="ppage-resultats"] {
    /* fond */
    position: absolute;
}

#logo-pr {
    /* logo */
    position: absolute;
    width: 6%;
    bottom: 85%;
    right: 5%;
}

#titre-pr {
    position: absolute;
    width: 38%;
    bottom: 83%;
    right: 29%;
}

#contour-pr {
    position: absolute;
    width: 100%;
}


/* Top Parcs */

#parc1-pr,#img1 {
    position: absolute;
    width: 23%;
    bottom: 43%;
    right: 14%;
}

#parc1-titre{
    position: absolute;
    font-size: small;
    right: 19%;
    top: 20%;
    z-index: 14;
}

#random1 {
    position: absolute;
    width: 3%;
    bottom: 34%;
    right: 22%;
}
/* #chart {
    position: absolute;
    bottom: 5%;
    width: 20%;
    height:15%;
    right: 10%;
    z-index: 14;
} */
#parc2-pr ,#img2{
    position: absolute;
    width: 23%;
    bottom: 41%;
    right: 39%;
}

#parc2-titre{
    position: absolute;
    font-size: small;
    z-index: 14;
    top: 20%;
    right: 44%;
}

#random2 {
    position: absolute;
    width: 3%;
    bottom: 34%;
    right: 49%;
}

/* #chart1 {
    position: absolute;
    bottom: 5%;
    width: 20%;
    height:25%;
    right: 30%;
    z-index: 14;
} */
#parc3-pr, #img3 {
    
    position: absolute;
    width: 23%;
    bottom: 42%;
    right: 64%;
}

#parc3-titre{
    position: absolute;
    font-size: small;
    right: 70%;
    top: 20%;
    z-index: 14;  
}

#random3 {
    position: absolute;
    width: 3%;
    bottom: 34%;
    right: 74%;
}
/* #chart2 {
    position: absolute;
    margin:0%;
    padding: 0%;
    bottom: 5%;
    width: 20%;
    height:15%;
    right: 50%;
    z-index: 14;
} */
.mychart{
    width: 10%;
    height: 100%
}

.row {
    position: absolute;
    justify-content:center ;
    background-color: aliceblue;
    margin:0%;
    padding: 0%;
    bottom:5%;
    width: 80%;
    right:10%;
    height:20%;
    z-index: 14;
}

.img-result {
    z-index: 100 !important; 
    height: 30%;
}


.modal-content {
    top: 30% ;
    margin: 2px auto;
    z-index: 1100 !important;
}

.modal-content{
    color : #171EB1;
}

#modalResult i{
    width : 10%;
}
