section[data-sildr='page-4'] {
    background: linear-gradient(90.42deg, #0574CF 13.84%, #6FB5EF 76.59%);
    transform: rotate(-180deg);
    height: 100%;
    width: 100%;
    text-align: center;
}

#logo-p4 {
    position: absolute;
    width: 6%;
    bottom: 85%;
    right: 5%;
}

#texte-gauche-p4 {
    position: absolute;
    width: 15%;
    bottom: 25%;
    right: 56%;
}

#texte-droite-p4{
    position: absolute;
    width: 15%;
    bottom: 25%;
    right: 33%;
}

#bouton-gauche-p4 {
    position: absolute;
    width: 22%;
    bottom: 32%;
    right: 51%;
}

#bouton-droite-p4 {
    position: absolute;
    width: 22%;
    bottom: 32%;
    right: 28%;
}

#question-p4 {
    position: absolute;
    width: 45%;
    bottom: 68%;
    right: 28%;
}

#fleurs-p4 {
    position: absolute;
    width: 15%;
    bottom: 5%;
    left: 12%;
}

#feuille-verte-p4 {
    position: absolute;
    width: 28%;
    bottom: 0%;
    left: 0%;
}

#petit-nuage-p4 {
    position: absolute;
    width: 30%;
    top: 0%;
    right: 70%;
}

#dune3-p4 {
    position: absolute;
    width: 100%;
    bottom: 0.2%;
}

#pelouse-gauche-p4 {
    position: absolute;
    width: 30%;
    bottom: 0%;
    left: 0%;
}

#pelouse-droite-p4 {
    position: absolute;
    width: 30%;
    bottom: 0%;
    right: 0%;
}

#arbuste-rouge-p4 {
    position: absolute;
    width: 25%;
    bottom: -3%;
    right: 0%;
}

#arbuste-bleu-petales-p4 {
    position: absolute;
    width: 18%;
    bottom: 2%;
    right: 11%;
}