/* VOTRE ENFANT EST-IL UN P'TIT AVENTURIER ? - PAGE 3 */
section[data-slidr="page-3"] {
    background: linear-gradient(90.42deg, #6FB5EF 26.39%, #3391DE 82.69%);
    overflow: hidden;
}

#logo-p3 {
    position: absolute;
    width: 6%;
    bottom: 85%;
    right: 5%;
}

#oui-p3 {
    position: absolute;
    width: 5%;
    bottom: 25%;
    right: 60%;
}
#oui-p3:hover {
    position: absolute;
    width: 7%;
    bottom: 25%;
    right: 60%;
}
#bouton_aventurier_anime-p3 {
    position: absolute;
    width: 25%;
    bottom: 24.4%;
    right: 49.6%;
}

#non-p3 {
    position: absolute;
    width: 6%;
    bottom: 25%;
    right: 36%;
}
#bouton_non_aventurier_anime-p3 {
    position: absolute;
    width: 17%;
    bottom: 34%;
    right: 30%;
}

#aventurier-p3 {
    position: absolute;
    width: 45%;
    bottom: 68%;
    right: 28%;
}

#arbuste-vert-p3 {
    position: absolute;
    width: 35%;
    bottom: 8%;
    right: 9%;
}

#arbuste-bleu-p3 {
    position: absolute;
    width: 58%;
    bottom: 2%;
    right: -11%;
}

#arbre_jaune-p3 {
    position: absolute;
    width: 24%;
    bottom: 12%;
    right: 3%;
}
#arbre_jaune-p3:hover {
    /*transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);*/
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#arbre_rouge-p3 {
    position: absolute;
    width: 20%;
    bottom: 10%;
    right: 80%;
}

#gros_nuage-p3 {
    position: absolute;
    width: 30%;
    bottom: 58%;
    right: 62%;
}

#dune-p3 {
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 4%;
    height: 12%;
}

#feuille-rouge-p3 {
    position: absolute;
    width: 11%;
    bottom: 10%;
    right: 4%;
}

#feuille-bleue-p3 {
    position: absolute;
    width: 10%;
    bottom: 7%;
    right: 76%;
}

#pelouse_gauche-p3 {
    position: absolute;
    width: 30%;
    bottom: 0%;
    left: 0%;
}

#pelouse_droite-p3 {
    position: absolute;
    width: 30%;
    bottom: 0%;
    right: 0%;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}



