section[data-slidr="page-2_1"] {
    background: #6FB5EF;
    overflow: hidden;
}

#logo-p2_1 {
    position: absolute;
    width: 6%;
    bottom: 85%;
    right: 5%;
}

#dune-p2_1 {
    position: absolute;
    width: 100%;
    bottom: 0%;
}

#pelouse_gauche-p2_1 {
    position: absolute;
    width: 37%;
    bottom: 0%;
    left: 0%;
}

#pelouse_droite-p2_1 {
    position: absolute;
    width: 30%;
    bottom: 0%;
    right: 0%;
}

#gros_nuage-p2_1 {
    position: absolute;
    width: 30%;
    bottom: 56%;
    right: 55%;
}

#petit_nuage-p2_1 {
    position: absolute;
    width: 25%;
    top: 15%;
    right: 75%;
}

#feuille_verte-p2_1 {
    position: absolute;
    width: 15%;
    bottom: 0%;
    right: 15%;
}

#feuille_bleue-p2_1 {
    position: absolute;
    width: 8%;
    bottom: 5%;
    left: 0%;
}

#arbuste_rose-p2_1 {
    position: absolute;
    width: 20%;
    bottom: 0%;
    right: 0%;
}

.age {
    position: absolute;
    width: 10%;
    bottom: 17%;
}

#zero_ans-p2_1 {
    left: 25%
}

#quatre_ans-p2_1 {
    left: 45%
}

#neuf_ans-p2_1 {
    width: 12%;
    right: 23%
}

.eleph {
    position: absolute;
    bottom: 25%;
    opacity: 0.3;
}

.eleph:hover {
    opacity: 1;
}

#trois_eleph-p2_1 {
    left: 23%;
    width: 17%
}

#six_eleph-p2_1 {
    left: 39%;
    width: 22%;
}

#neuf_eleph-p2_1 {
    width: 30%;
    right: 12%
}

#quelageastu-p2_1 {
    position: absolute;
    width: 26%;
    top: 15%;
    left: 38%;
}