section[data-slidr="page-2-1"] {
    background: #6FB5EF;
    overflow: hidden;
}

#logo-p2-1 {
    position: absolute;
    width: 6%;
    bottom: 85%;
    right: 5%;
}

#dune3-p2-1 {
    position: absolute;
    width: 100%;
    bottom: 0%;
}

#pelouse-gauche-p2-1 {
    position: absolute;
    width: 36.5%;
    bottom: 0%;
    left: 0%;
}

#pelouse-droite-p2-1 {
    position: absolute;
    width: 27.5%;
    bottom: 0%;
    right: 0%;
}

#gros-nuage-p2-1 {
    position: absolute;
    width: 30%;
    bottom: 56%;
    right: 55%;
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 1000ms;
}

#gros-nuage-p2-1:hover{
    transform: translateX(30%);
}

#petit-nuage-p2-1 {
    position: absolute;
    width: 25%;
    top: 15%;
    right: 75%;
    transform: translateX(0%);
    transition-property: transform;
    transition-duration: 1000ms;
}

#petit-nuage-p2-1:hover {
    transform: translateX(-30%);
}

#feuille-verte-p2-1 {
    position: absolute;
    width: 17%;
    bottom: 4%;
    right: 0%;
}

#feuille-bleue-p2-1 {
    position: absolute;
    width: 8%;
    bottom: 12%;
    left: 3%;
}

#arbuste-rouge-p2-1 {
    position: absolute;
    width: 18%;
    bottom: -4%;
    right: 8%;
    transform: scale(1) translateY(0%);
    transition-property: transform;
    transition-duration: 1000ms;
}

#arbuste-rouge-p2-1:hover {
    transform: scale(0.9) translateY(10%);
}

.age {
    position: absolute;
    width: 10%;
    bottom: 17%;
}

#texte-0-3-ans-p2-1 {
    left: 24%;
    width: 7%;
}

#texte-4-8-ans-p2-1 {
    left: 45%;
    width: 7%;
}

#texte-plus-9-ans-p2-1 {
    right: 25%;
    width: 8%;
}

.eleph {
    position: absolute;
    bottom: 25%;
    opacity: 0.3;
}

.eleph:hover {
    opacity: 1;
}

#trois-eleph-p2-1 {
    left: 20%;
    width: 17%;
}

#six-eleph-p2-1 {
    left: 37%;
    bottom: 23%;
    width: 21%;
}

#neuf-eleph-p2-1 {
    width: 28%;
    right: 15%;
    bottom: 23%;
}

#quelageastu-p2-1 {
    position: absolute;
    width: 20%;
    top: 25%;
    left: 40%;
}