body{
    /* fond */
    background: linear-gradient(90.42deg,
    #6FB5EF 13.84%,
    #69ABEB 22.53%,
    #5A91E0 37.19%,
    #4166CF 56.01%,
    #1F2BB6 78.06%,
    #171EB1 82.69%);
}

.dune {
    /* DUNE */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;


    background: url(../img/home/dune.svg) no-repeat;
}
