/* normalisation des marges et padding pour simplifier le positionnement des éléments */

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    overflow: hidden;
    /* pour slidr dans certains navigateurs */
}

#container {
    position: relative;
    height: 100%;
    /* pour permettre le positionnement en absolu des autres éléments */
}

section {
    position: relative;
}


/* on fait en sorte que le slidr et les slides remplissent tout notre conteneur */

#slidr2,
#slidr2 section {
    width: 100%;
    height: 100%;
}

#slidr2 section[data-slidr="page-3"] {
    background-color: #171EB1;
    height: 100%;
    width: 100%;
    text-align: center;
}


/* on fait en sorte que le slidr et les slides remplissent tout notre conteneur */

#slidr,
#slidr section {
    width: 100%;
    height: 100%;
}


/* Boutons */

.button {
    position: absolute;
    color: #fff;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    opacity: 0.3;
}

.button:hover {
    opacity: 1;
}

.circle_btn{
    border: 2px solid #fff;
    vertical-align: middle;
    width: 30px; 
    height: 30px; 
    border-radius: 15px; 
    text-align: center; 
}

.circle_back
{
    padding-right: 2px ; 
}


.circle_next
{
    padding-left: 2px ; 
}


/* Bouton question precédente */

.div_retour {
    top: 5%;
    cursor: pointer;
    left: 5%;
}

/*Position bouton retour */
.button_circle_retour {
    top: 5%;
    left: 4%;
    cursor: pointer;
}


.texte_retour{
    position: absolute;
    width: 14%;
    bottom: 92%;
    left: 8%;
}


/*Position bouton accueil */
.button_circle_accueil {
    bottom: 12%;
    left: 45%;
    cursor: pointer;
}


.texte_accueil{
    position: absolute;
    width: 14%;
    bottom: 13%;
    left: 49%;
}


/* ---------- media queries importantes pour le responsive facile :-D ----------------- */


/* Vous pouvez bien sûr l'adapter pour d'autres ratio que 16:9 */


/* Cette media query permet de s'assurer qu'on remplit toujours la largeur de la fenêtre,
tant qu'on est en dessous de l'apect ratio 16/9 */

@media screen and (max-aspect-ratio: 16/9) {
    #container {
        margin-top: calc((100vh - 100 * 9vw / 16) / 2);
        width: 100vw;
        height: calc(100 * 9vw / 16);
    }
    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la largeur ici. */
    body {
        font-size: 9vw;
    }
}


/* ---------- media queries importantes pour le responsive facile :-D ----------------- */


/* Vous pouvez bien sûr l'adapter pour d'autres ratio que 16:9 */


/* Cette media query permet de s'assurer qu'on remplit toujours la largeur de la fenêtre,
tant qu'on est en dessous de l'apect ratio 16/9 */

@media screen and (max-aspect-ratio: 16/9) {
    #container {
        margin-top: calc((100vh - 100 * 9vw / 16) / 2);
        width: 100vw;
        height: calc(100 * 9vw / 16);
    }
    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la largeur ici. */
    body {
        font-size: 9vw;
    }
}


/* Cette media query permet de s'assurer qu'on remplit toujours la hauteur de la fenêtre, quand on est au
dessus de l'apect ratio 16/9 */

@media screen and (min-aspect-ratio: 16/9) {
    #container {
        margin-left: calc((100vw - 100 * 16vh / 9) / 2);
        width: calc(100 * 16vh / 9);
        height: 100vh;
    }
    /* On fixe une taille de police par défaut pour le body qui servira de base à toutes
    les autres tailles de police. Celle-ci est proportionelle à la hauteur ici. */
    body {
        font-size: 16vh;
    }
}

.mute {
    position: absolute;
    top: 5%;
    left : 25%;
}